In [1]:
import os
import sys
sys.path.insert(0, 'X:\\bayarea_urbansim\\scripts')
from baus_analytics_tools import *

In [2]:
summary_dir = 'M:\\Data\\Urban\\BAUS\\PBA50\\explore_developer_model\\runs_feasibility_all_included'
run_dir = os.path.join(summary_dir, 'runs')
trace_dir = os.path.join(summary_dir, 'trace')
parcel_trace_dir = os.path.join(summary_dir, 'trace_selected_parcels')

In [3]:
%load_ext autoreload
%autoreload 2

## helper lookups

In [4]:
# parcel to node_id/tmnode_id lookup
parcel_nodes = pd.read_csv(os.path.join(summary_dir, 'parcel_node_id.csv'))
print('{} rows of parcel to node_id/tmnode_id lookup, {} unique node_id, {} unique tmnode_id'.format(
    parcel_nodes.shape[0],
    len(parcel_nodes.node_id.unique()),
    len(parcel_nodes.tmnode_id.unique())))

print(parcel_nodes.dtypes)

1956212 rows of parcel to node_id/tmnode_id lookup, 193851 unique node_id, 11553 unique tmnode_id
parcel_id      int64
node_id        int64
tmnode_id      int64
TAZ          float64
SUPERD       float64
SD_NAME       object
dtype: object

### select certain parcels to trace

In [5]:
# parcels in SE Santa Clara county
parcels_chk_tag = 'SE_Snta_Clara'
parcels_chk = pd.read_csv(os.path.join(parcel_trace_dir, parcels_chk_tag, 'parcels_{}.csv'.format(parcels_chk_tag)))

# add nodes info
parcels_chk = parcels_chk.merge(parcel_nodes, on='parcel_id', how='left')
print(parcels_chk.shape[0])

34037

In [6]:
# # parcels in TAZ 706 (2050 HH growth NP > P)
# parcels_chk_tag = 'taz706'
# parcels_chk = pd.read_csv(os.path.join(parcel_trace_dir, parcels_chk_tag, 'parcels_{}.csv'.format(parcels_chk_tag)))

# # add nodes info
# parcels_chk = parcels_chk.merge(parcel_nodes, on='parcel_id', how='left')
# print(parcels_chk.shape[0])

In [7]:
# # parcels in TAZ 703 (2050 HH growth NP < P)
# parcels_chk_tag = 'taz703'
# parcels_chk = pd.read_csv(os.path.join(parcel_trace_dir, parcels_chk_tag, 'parcels_{}.csv'.format(parcels_chk_tag)))
# print(list(parcels_chk))

# # add nodes info
# parcels_chk = parcels_chk.merge(parcel_nodes, on='parcel_id', how='left')
# print(list(parcels_chk))
# print(parcels_chk.shape[0])

# compare selected parcels
* [parcel-level logsums](#parcel_logsum)
* [year 2010](#2010)
    * [residential hedonic models results ("rsh_simulate", "rrh_simulate")](#2010hedonic)
    * [nodes and tmnode attributes ("neighborhood_vars", "regional_vars", "price_vars")](#2010nodes)
    * [parcel_data and building_data output](#2010output)
* [year 2015-2050](#2015_2050)
    * nodes and tmnode attributes ("neighborhood_vars", "regional_vars", "price_vars")
    * alt_feasibility results
    * residential_developer model result
    * hedonic model results ("rsh_simulate", "rrh_simulate")
    * parcel_data and building_data output

## parcel-level logsums<a class="anchor" id="parcel_logsum"></a>

In [8]:
# 2010-2025
parcel_logsum_2010_2025 = pd.read_csv(os.path.join(summary_dir, 'baus_logsums_parcel_2010_2025.csv'),
                                      usecols = ['parcel_id', 'combo_logsum_np', 'combo_logsum_p', 'combo_logsum_diff'])
parcels_chk_logsum_2010_2025 = parcels_chk.merge(parcel_logsum_2010_2025, on='parcel_id', how='left')
print(parcels_chk_logsum_2010_2025.shape[0])
parcels_chk_logsum_2010_2025.to_csv(os.path.join(parcel_trace_dir, parcels_chk_tag, '{}_logsum_parcels_2010_2025.csv'.format(parcels_chk_tag)), index=False)

# 2030-2050
parcel_logsum_2030_2050 = pd.read_csv(os.path.join(summary_dir, 'baus_logsums_parcel_2030_2050.csv'),
                                      usecols = ['parcel_id', 'combo_logsum_np', 'combo_logsum_p', 'combo_logsum_diff'])
parcels_chk_logsum_2030_2050 = parcels_chk.merge(parcel_logsum_2030_2050, on='parcel_id', how='left')
print(parcels_chk_logsum_2030_2050.shape[0])
parcels_chk_logsum_2030_2050.to_csv(os.path.join(parcel_trace_dir, parcels_chk_tag, '{}_logsum_parcels_2030_2050.csv'.format(parcels_chk_tag)), index=False)

34037
34037

## year 2010 <a class="anchor" id="2010"></a>

In [9]:
year = '2010'

### residential hedonic models results ("rsh_simulate", "rrh_simulate") <a class="anchor" id="2010hedonic"></a>

In [10]:
rsh = pd.read_csv(os.path.join(trace_dir, 'rsh_simulate_by_parcel_2010.csv'))
rrh = pd.read_csv(os.path.join(trace_dir, 'rrh_simulate_by_parcel_2010.csv'))
# print(rsh.shape[0])
# print(len(rsh.parcel_id.unique()))
# print(list(rsh))
# print(list(rrh))

parcel_chk_hedonic_2010 = parcels_chk.merge(
                         rsh, on='parcel_id', how='left').merge(
                         rrh.loc[:, ~rrh.columns.isin(['unit_cnt_NP', 'unit_cnt_P', 'year'])], on='parcel_id', how='left')
print(list(parcel_chk_hedonic_2010))

# compare NP and P variables
parcel_chk_hedonic_2010_diff = \
    compare_variables_between_scenarios(parcel_chk_hedonic_2010, 
                                        'parcel_id', 'NP', 'P',
                                        compare_cols = ['unit_res_price_min', 'unit_res_price_max', 'unit_res_price_mean',
                                                        'unit_res_rent_min', 'unit_res_rent_max', 'unit_res_rent_mean',
                                                        'unit_cnt'],
                                        keep_cols = ['SUPERD', 'SD_NAME', 'TAZ', 'node_id', 'tmnode_id', '2050_hh_growth_diff'])

# add price comparison field
if 'unit_res_price_mean_P' in parcel_chk_hedonic_2010_diff:
    parcel_chk_hedonic_2010_diff.loc[:, 'unit_res_price_mean_comp'] = None
    parcel_chk_hedonic_2010_diff.loc[
        parcel_chk_hedonic_2010_diff.unit_res_price_mean_P > parcel_chk_hedonic_2010_diff.unit_res_price_mean_NP,
        'unit_res_price_mean_comp'] = 'NP < P'
    parcel_chk_hedonic_2010_diff.loc[
        parcel_chk_hedonic_2010_diff.unit_res_price_mean_P < parcel_chk_hedonic_2010_diff.unit_res_price_mean_NP,
        'unit_res_price_mean_comp'] = 'NP > P'
    parcel_chk_hedonic_2010_diff.loc[
        parcel_chk_hedonic_2010_diff.unit_res_price_mean_P == parcel_chk_hedonic_2010_diff.unit_res_price_mean_NP,
        'unit_res_price_mean_comp'] = 'NP = P'
else:
    parcel_chk_hedonic_2010_diff.loc[:, 'unit_res_price_mean_comp'] = 'NP = P'

if 'unit_res_rent_mean_P' in parcel_chk_hedonic_2010_diff:
    parcel_chk_hedonic_2010_diff.loc[:, 'unit_res_rent_mean_comp'] = None
    parcel_chk_hedonic_2010_diff.loc[
        parcel_chk_hedonic_2010_diff.unit_res_rent_mean_P > parcel_chk_hedonic_2010_diff.unit_res_rent_mean_NP,
        'unit_res_rent_mean_comp'] = 'NP < P'
    parcel_chk_hedonic_2010_diff.loc[
        parcel_chk_hedonic_2010_diff.unit_res_rent_mean_P < parcel_chk_hedonic_2010_diff.unit_res_rent_mean_NP,
        'unit_res_rent_mean_comp'] = 'NP > P'
    parcel_chk_hedonic_2010_diff.loc[
        parcel_chk_hedonic_2010_diff.unit_res_rent_mean_P == parcel_chk_hedonic_2010_diff.unit_res_rent_mean_NP,
        'unit_res_rent_mean_comp'] = 'NP = P'
else:
    parcel_chk_hedonic_2010_diff.loc[:, 'unit_res_rent_mean_comp'] = 'NP = P'

display(parcel_chk_hedonic_2010_diff)

# export
parcel_chk_hedonic_2010_diff.to_csv(os.path.join(parcel_trace_dir, 
                                                 parcels_chk_tag, 
                                                 '{}_1_parcels_hedonic_compare.csv'.format(year)), index=False)

['parcel_id', '2050_hh_growth_diff', 'node_id', 'tmnode_id', 'TAZ', 'SUPERD', 'SD_NAME', 'unit_res_price_min_NP', 'unit_res_price_max_NP', 'unit_res_price_mean_NP', 'unit_cnt_NP', 'unit_res_price_min_P', 'unit_res_price_max_P', 'unit_res_price_mean_P', 'unit_cnt_P', 'unit_res_rent_min_NP', 'unit_res_rent_max_NP', 'unit_res_rent_mean_NP', 'unit_res_rent_min_P', 'unit_res_rent_max_P', 'unit_res_rent_mean_P']
compare unit_res_price_min: not identical between NP and P
compare unit_res_price_max: not identical between NP and P
compare unit_res_price_mean: not identical between NP and P
compare unit_res_rent_min: identical between NP and P
compare unit_res_rent_max: identical between NP and P
compare unit_res_rent_mean: identical between NP and P
compare unit_cnt: identical between NP and P

C:\ProgramData\Anaconda3\envs\geo_env\lib\site-packages\pandas\core\indexing.py:1667: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = value
C:\ProgramData\Anaconda3\envs\geo_env\lib\site-packages\pandas\core\indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

,parcel_id,SUPERD,SD_NAME,TAZ,node_id,tmnode_id,2050_hh_growth_diff,unit_res_price_max_NP,unit_res_price_max_P,unit_res_price_mean_NP,unit_res_price_mean_P,unit_res_price_min_NP,unit_res_price_min_P,unit_res_price_mean_comp,unit_res_rent_mean_comp
0,1711264,14.0,SE Snta Clara Cnty,710.0,168905,5427,NP > P,280.089995,282.809139,280.089995,282.809139,280.089995,282.809139,NP < P,NP = P
1,1711387,14.0,SE Snta Clara Cnty,710.0,174035,5427,No Household,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,NP = P,NP = P
2,1711391,14.0,SE Snta Clara Cnty,710.0,155140,4151,No Household,NaN,NaN,NaN,NaN,NaN,NaN,None,NP = P
3,1717862,14.0,SE Snta Clara Cnty,705.0,303519,4151,No Household,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,NP = P,NP = P
4,1720010,14.0,SE Snta Clara Cnty,700.0,310217,10534,No Household,NaN,NaN,NaN,NaN,NaN,NaN,None,NP = P
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34032,2053438,14.0,SE Snta Clara Cnty,709.0,189466,709,No Household,NaN,NaN,NaN,NaN,NaN,NaN,None,NP = P
34033,2053472,14.0,SE Snta Clara Cnty,702.0,142028,4220,NP > P,NaN,NaN,NaN,NaN,NaN,NaN,None,NP = P
34034,2053524,14.0,SE Snta Clara Cnty,698.0,186270,20436,No Household,NaN,NaN,NaN,NaN,NaN,NaN,None,NP = P
34035,2053541,14.0,SE Snta Clara Cnty,702.0,180531,11203,NP < P,NaN,NaN,NaN,NaN,NaN,NaN,None,NP = P
34036,2053562,14.0,SE Snta Clara Cnty,700.0,190469,10533,No Household,NaN,NaN,NaN,NaN,NaN,NaN,None,NP = P

### nodes and tmnode attributes ("neighborhood_vars", "regional_vars", "price_vars")<a class="anchor" id="2010nodes"></a>

In [11]:
nodes_attr = pd.read_csv(os.path.join(trace_dir, 'price_vars_2010.csv'))
# print(list(nodes_attr))
tmnodes_attr = pd.read_csv(os.path.join(trace_dir, 'regional_vars_2010.csv'))
# print('\n', list(tmnodes_attr))

parcel_chk_nodes_2010 = parcels_chk.merge(
    nodes_attr, on='node_id', how='left').merge(
    tmnodes_attr, on='tmnode_id', how='left')
print(parcel_chk_nodes_2010.shape[0])


# compare NP and P variables
parcel_chk_nodes_2010_diff = \
    compare_variables_between_scenarios(parcel_chk_nodes_2010, 
                                        'parcel_id', 'NP', 'P',
                                        compare_cols = ['residential_units_45', 'jobs_15', 'jobs_45',
                                                        'sum_income_40', 'embarcadero', 'pacheights', 'stanford',
                                                        'retail_sqft_3000', 'sum_income_3000', 
                                                        'residential_units_500', 'residential_units_1500', 
                                                        'office_1500', 'retail_1500', 'industrial_1500', 
                                                        'ave_sqft_per_unit', 'ave_lot_size_per_unit', 
                                                        'population', 'poor', 'renters', 'sfdu', 'ave_hhsize', 
                                                        'jobs_500', 'jobs_1500', 'ave_income_1500', 'ave_income_500', 
                                                        'retail_ratio', 'residential', 'retail', 'office', 'industrial'],
                                       keep_cols = ['SUPERD', 'SD_NAME', 'TAZ', 'node_id', 'tmnode_id', '2050_hh_growth_diff'])

# compare 'residential' column
if 'residential_P' in parcel_chk_nodes_2010_diff:
    parcel_chk_nodes_2010_diff.loc[:, 'residential_price_comp'] = None
    parcel_chk_nodes_2010_diff.loc[
        parcel_chk_nodes_2010_diff.residential_P > parcel_chk_nodes_2010_diff.residential_NP,
        'residential_price_comp'] = 'NP < P'
    parcel_chk_nodes_2010_diff.loc[
        parcel_chk_nodes_2010_diff.residential_P < parcel_chk_nodes_2010_diff.residential_NP,
        'residential_price_comp'] = 'NP > P'
    parcel_chk_nodes_2010_diff.loc[
        parcel_chk_nodes_2010_diff.residential_P == parcel_chk_nodes_2010_diff.residential_NP,
        'residential_price_comp'] = 'NP = P'

    display(parcel_chk_nodes_2010_diff)

# export
parcel_chk_nodes_2010_diff.to_csv(os.path.join(parcel_trace_dir,
                                               parcels_chk_tag, 
                                               '{}_2_parcels_nodes_compare.csv'.format(year)), index=False)

34037
compare residential_units_45: identical between NP and P
compare jobs_15: identical between NP and P
compare jobs_45: identical between NP and P
compare sum_income_40: identical between NP and P
compare embarcadero: identical between NP and P
compare pacheights: identical between NP and P
compare stanford: identical between NP and P
compare retail_sqft_3000: identical between NP and P
compare sum_income_3000: identical between NP and P
compare residential_units_500: identical between NP and P
compare residential_units_1500: identical between NP and P
compare office_1500: identical between NP and P
compare retail_1500: identical between NP and P
compare industrial_1500: identical between NP and P
compare ave_sqft_per_unit: identical between NP and P
compare ave_lot_size_per_unit: identical between NP and P
compare population: identical between NP and P
compare poor: identical between NP and P
compare renters: identical between NP and P
compare sfdu: identical between NP and P
compare ave_hhsize: identical between NP and P
compare jobs_500: identical between NP and P
compare jobs_1500: identical between NP and P
compare ave_income_1500: identical between NP and P
compare ave_income_500: identical between NP and P
compare retail_ratio: identical between NP and P
compare residential: not identical between NP and P
compare retail: identical between NP and P
compare office: identical between NP and P
compare industrial: identical between NP and P

C:\ProgramData\Anaconda3\envs\geo_env\lib\site-packages\pandas\core\indexing.py:1667: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = value
C:\ProgramData\Anaconda3\envs\geo_env\lib\site-packages\pandas\core\indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

,parcel_id,SUPERD,SD_NAME,TAZ,node_id,tmnode_id,2050_hh_growth_diff,residential_NP,residential_P,residential_price_comp
0,1711264,14.0,SE Snta Clara Cnty,710.0,168905,5427,NP > P,508.675812,508.675812,NP = P
1,1711387,14.0,SE Snta Clara Cnty,710.0,174035,5427,No Household,507.185089,507.185089,NP = P
2,1711391,14.0,SE Snta Clara Cnty,710.0,155140,4151,No Household,508.500885,508.500885,NP = P
3,1717862,14.0,SE Snta Clara Cnty,705.0,303519,4151,No Household,250.000000,250.000000,NP = P
4,1720010,14.0,SE Snta Clara Cnty,700.0,310217,10534,No Household,574.519043,574.519043,NP = P
...,...,...,...,...,...,...,...,...,...,...
34032,2053438,14.0,SE Snta Clara Cnty,709.0,189466,709,No Household,527.276367,527.276367,NP = P
34033,2053472,14.0,SE Snta Clara Cnty,702.0,142028,4220,NP > P,612.545166,612.545166,NP = P
34034,2053524,14.0,SE Snta Clara Cnty,698.0,186270,20436,No Household,420.584869,421.027893,NP < P
34035,2053541,14.0,SE Snta Clara Cnty,702.0,180531,11203,NP < P,607.617798,607.617798,NP = P
34036,2053562,14.0,SE Snta Clara Cnty,700.0,190469,10533,No Household,638.807922,638.807922,NP = P

### parcel_data and building_data output<a class="anchor" id="2010output"></a>

In [12]:
parcel_data = pd.read_csv(os.path.join(trace_dir, 'parcel_data_compare_2010.csv'))
blg_data = pd.read_csv(os.path.join(trace_dir, 'building_data_parcel_compare_2010.csv'))

parcels_chk_final_2010 = parcels_chk.merge(
                         parcel_data, on='parcel_id', how='left').merge(
                         blg_data, on='parcel_id', how='left')

# fillin na
for i in ['zoned_du', 'zoned_du_underbuild',
          'residential_units', 'resUnits_nondev', 'tothh']:
    parcels_chk_final_2010[i+'_NP'].fillna(0, inplace=True)
    parcels_chk_final_2010[i+'_P'].fillna(0, inplace=True)

# compare NP and P
parcels_chk_final_2010_diff = \
    compare_variables_between_scenarios(parcels_chk_final_2010, 'parcel_id', 'NP', 'P',
                                        compare_cols = ['zoned_du', 'zoned_du_underbuild', 
                                                        'residential_units', 'resUnits_nondev', 'unit_price_mean_nondev',
                                                        'tothh'],
                                        keep_cols = ['SUPERD', 'SD_NAME', 'TAZ', 'node_id', 'tmnode_id', '2050_hh_growth_diff'])

# add back key fields for analysis
parcels_chk_final_2010_diff = parcels_chk_final_2010_diff.merge(
                              parcels_chk_final_2010[['parcel_id', 'residential_units_NP', 'residential_units_P',
                                                      'resUnits_nondev_NP', 'resUnits_nondev_P', 'tothh_NP', 'tothh_P']])

# add HH and units comparison column
parcels_chk_final_2010_diff.loc[:, 'tothh_comp'] = None
parcels_chk_final_2010_diff.loc[
    parcels_chk_final_2010_diff.tothh_P > parcels_chk_final_2010_diff.tothh_NP,
    'tothh_comp'] = 'NP < P'
parcels_chk_final_2010_diff.loc[
    parcels_chk_final_2010_diff.tothh_P < parcels_chk_final_2010_diff.tothh_NP,
    'tothh_comp'] = 'NP > P'
parcels_chk_final_2010_diff.loc[
    parcels_chk_final_2010_diff.tothh_P == parcels_chk_final_2010_diff.tothh_NP,
    'tothh_comp'] = 'NP = P'
parcels_chk_final_2010_diff.loc[
    (parcels_chk_final_2010_diff.tothh_P == 0) & (parcels_chk_final_2010_diff.tothh_NP == 0),
    'tothh_comp'] = 'No Household'

parcels_chk_final_2010_diff.loc[:, 'totUnits_comp'] = None
parcels_chk_final_2010_diff.loc[
    parcels_chk_final_2010_diff.residential_units_P > parcels_chk_final_2010_diff.residential_units_NP,
    'totUnits_comp'] = 'NP < P'
parcels_chk_final_2010_diff.loc[
    parcels_chk_final_2010_diff.residential_units_P < parcels_chk_final_2010_diff.residential_units_NP,
    'totUnits_comp'] = 'NP > P'
parcels_chk_final_2010_diff.loc[
    parcels_chk_final_2010_diff.residential_units_P == parcels_chk_final_2010_diff.residential_units_NP,
    'totUnits_comp'] = 'NP = P'
parcels_chk_final_2010_diff.loc[
    (parcels_chk_final_2010_diff.residential_units_P == 0) & (parcels_chk_final_2010_diff.residential_units_NP == 0),
    'totUnits_comp'] = 'No Housing'

display(parcels_chk_final_2010_diff)

# export
parcels_chk_final_2010_diff.to_csv(os.path.join(parcel_trace_dir,
                                                parcels_chk_tag, 
                                                '{}_3_parcels_final_compare.csv'.format(year)), index=False)

compare zoned_du: identical between NP and P
compare zoned_du_underbuild: identical between NP and P
compare residential_units: identical between NP and P
compare resUnits_nondev: identical between NP and P
compare unit_price_mean_nondev: not identical between NP and P
compare tothh: not identical between NP and P

,parcel_id,SUPERD,SD_NAME,TAZ,node_id,tmnode_id,2050_hh_growth_diff,tothh_NP,tothh_P,unit_price_mean_nondev_NP,unit_price_mean_nondev_P,residential_units_NP,residential_units_P,resUnits_nondev_NP,resUnits_nondev_P,tothh_comp,totUnits_comp
0,1711264,14.0,SE Snta Clara Cnty,710.0,168905,5427,NP > P,0.0,1.0,780827.952851,780827.952851,1.0,1.0,1.0,1.0,NP < P,NP = P
1,1711387,14.0,SE Snta Clara Cnty,710.0,174035,5427,No Household,1.0,1.0,752126.202689,752126.202689,1.0,1.0,1.0,1.0,NP = P,NP = P
2,1711391,14.0,SE Snta Clara Cnty,710.0,155140,4151,No Household,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,No Household,No Housing
3,1717862,14.0,SE Snta Clara Cnty,705.0,303519,4151,No Household,1.0,1.0,683140.077533,683140.077533,1.0,1.0,1.0,1.0,NP = P,NP = P
4,1720010,14.0,SE Snta Clara Cnty,700.0,310217,10534,No Household,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,No Household,No Housing
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34032,2053438,14.0,SE Snta Clara Cnty,709.0,189466,709,No Household,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,No Household,No Housing
34033,2053472,14.0,SE Snta Clara Cnty,702.0,142028,4220,NP > P,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,No Household,No Housing
34034,2053524,14.0,SE Snta Clara Cnty,698.0,186270,20436,No Household,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,No Household,No Housing
34035,2053541,14.0,SE Snta Clara Cnty,702.0,180531,11203,NP < P,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,No Household,No Housing
34036,2053562,14.0,SE Snta Clara Cnty,700.0,190469,10533,No Household,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,No Household,No Housing

## year 2015-2050 <a class="anchor" id="2015_2050"></a>

In [13]:
for year_num in range(2015, 2055, 5):
    year = str(year_num)
    print('################################ ', year)

    #################### nodes and tmnode attributes ("neighborhood_vars", "regional_vars", "price_vars")
    print('############ nodes and tmnode attributes ("neighborhood_vars", "regional_vars", "price_vars")')
    nodes_attr = pd.read_csv(os.path.join(trace_dir, 'price_vars_{}.csv'.format(year)))
    # print(list(nodes_attr))
    tmnodes_attr = pd.read_csv(os.path.join(trace_dir, 'regional_vars_{}.csv'.format(year)))
    # print('\n', list(tmnodes_attr))

    parcels_chk_nodes = parcels_chk.merge(
        nodes_attr, on='node_id', how='left').merge(
        tmnodes_attr, on='tmnode_id', how='left')
    print(parcels_chk_nodes.shape[0])

    # compare attributes
    parcels_chk_nodes_diff = \
        compare_variables_between_scenarios(parcels_chk_nodes, 'parcel_id', 'NP', 'P',
                                            compare_cols = ['retail_sqft_3000', 'sum_income_3000', 
                                                            'residential_units_500', 'residential_units_1500', 
                                                            'office_1500', 'retail_1500', 'industrial_1500', 
                                                            'ave_sqft_per_unit', 'ave_lot_size_per_unit', 
                                                            'population', 'poor', 'renters', 'sfdu', 'ave_hhsize', 
                                                            'jobs_500', 'jobs_1500', 'ave_income_1500', 'ave_income_500', 
                                                            'retail_ratio', 'residential', 'retail', 'office', 'industrial', 
                                                            'residential_units_45', 'jobs_15', 'jobs_45',
                                                            'sum_income_40', 'embarcadero', 'pacheights', 'stanford'],
                                            keep_cols = ['SUPERD', 'SD_NAME', 'TAZ', 'node_id', 'tmnode_id', '2050_hh_growth_diff'])
    
    # compare 'residential' column
    if 'residential_P' in parcels_chk_nodes_diff:
        parcels_chk_nodes_diff.loc[:, 'residential_price_comp'] = None
        parcels_chk_nodes_diff.loc[
            parcels_chk_nodes_diff.residential_P > parcels_chk_nodes_diff.residential_NP,
            'residential_price_comp'] = 'NP < P'
        parcels_chk_nodes_diff.loc[
            parcels_chk_nodes_diff.residential_P < parcels_chk_nodes_diff.residential_NP,
            'residential_price_comp'] = 'NP > P'
        parcels_chk_nodes_diff.loc[
            parcels_chk_nodes_diff.residential_P == parcels_chk_nodes_diff.residential_NP,
            'residential_price_comp'] = 'NP = P'
    else:
        parcels_chk_nodes_diff.loc[:, 'residential_price_comp'] = 'NP = P'
    
    display(parcels_chk_nodes_diff)

    # export
    parcels_chk_nodes_diff.to_csv(os.path.join(parcel_trace_dir,
                                               parcels_chk_tag, 
                                               '{}_1_parcels_nodes_compare.csv'.format(year)), index=False)


    #################### alt_feasibility results
    print('############ alt_feasibility results')

    feasibility_compare = pd.read_csv(os.path.join(trace_dir, 'feasibility_compare_{}.csv'.format(year)))
    print(list(feasibility_compare))

    parcel_feasibility = parcels_chk.merge(feasibility_compare, on='parcel_id', how='left')
    # parcel_feasibility.sort_index(axis=1, inplace=True)

    print(parcel_feasibility.max_profit_chk.value_counts())

    # compare NP and P
    parcel_feasibility_diff = \
        compare_variables_between_scenarios(parcel_feasibility, 'parcel_id', 'NP', 'P',
                                            compare_cols = ['total_cost', 'building_revenue', 
                                                            'max_profit_far', 'max_profit',
                                                            'residential_sales_price_sqft', 'residential_sqft'],
                                            keep_cols = ['SUPERD', 'SD_NAME', 'TAZ', 'node_id', 'tmnode_id', '2050_hh_growth_diff'])
    # add back "max_profit_chk" columns
    parcel_feasibility_diff = parcel_feasibility_diff.merge(
                                   parcel_feasibility[['parcel_id', 'max_profit_chk']], on='parcel_id', how='left')
    display(parcel_feasibility_diff)

    # export
    parcel_feasibility_diff.to_csv(os.path.join(parcel_trace_dir,
                                                parcels_chk_tag, 
                                                '{}_2_parcels_feasibility_compare.csv'.format(year)), index=False)



    #################### residential_developer model result
    print('############ residential_developer model result')
    resDev_compare = pd.read_csv(os.path.join(trace_dir, 'resDevModel_by_parcel_{}.csv'.format(year)))
    print(list(resDev_compare))

    parcel_chk_resDev = parcels_chk.merge(resDev_compare, on='parcel_id', how='left')
    # print(parcel_resDev.shape[0])

    # add residential_units_compare field
    parcel_chk_resDev['residential_units_NP'].fillna(0, inplace=True)
    parcel_chk_resDev['residential_units_P'].fillna(0, inplace=True)
    
    parcel_chk_resDev.loc[:, 'residential_units_comp'] = None
    parcel_chk_resDev.loc[
        parcel_chk_resDev.residential_units_NP < parcel_chk_resDev.residential_units_P,
        'residential_units_comp'] = 'NP < P'
    parcel_chk_resDev.loc[
        parcel_chk_resDev.residential_units_NP > parcel_chk_resDev.residential_units_P,
        'residential_units_comp'] = 'NP > P'
    parcel_chk_resDev.loc[
        parcel_chk_resDev.residential_units_NP == parcel_chk_resDev.residential_units_P,
        'residential_units_comp'] = 'NP = P'
    parcel_chk_resDev.loc[
        (parcel_chk_resDev.residential_units_NP == 0) & (parcel_chk_resDev.residential_units_P == 0),
        'residential_units_comp'] = 'no development'
    
    display(parcel_chk_resDev)

    # export
    parcel_chk_resDev.to_csv(os.path.join(parcel_trace_dir,
                                          parcels_chk_tag, 
                                          '{}_3_parcels_resDev_compare.csv'.format(year)), index=False)



    #################### hedonic model results ("rsh_simulate", "rrh_simulate")
    print('############ hedonic model results ("rsh_simulate", "rrh_simulate")')
    rsh = pd.read_csv(os.path.join(trace_dir, 'rsh_simulate_by_parcel_{}.csv'.format(year)))
    rrh = pd.read_csv(os.path.join(trace_dir, 'rrh_simulate_by_parcel_{}.csv'.format(year)))

    parcel_chk_hedonic = parcels_chk.merge(
                              rsh, on='parcel_id', how='left').merge(
                              rrh.loc[:, ~rrh.columns.isin(['unit_cnt_NP', 'unit_cnt_P', 'year'])], on='parcel_id', how='left')

    # compare NP and P variables
    parcel_chk_hedonic_diff = \
        compare_variables_between_scenarios(parcel_chk_hedonic, 
                                            'parcel_id', 'NP', 'P',
                                             compare_cols = ['unit_res_price_min', 'unit_res_price_max', 'unit_res_price_mean',
                                                            'unit_res_rent_min', 'unit_res_rent_max', 'unit_res_rent_mean',
                                                            'unit_cnt'],
                                             keep_cols = ['SUPERD', 'SD_NAME', 'TAZ', 'node_id', 'tmnode_id', '2050_hh_growth_diff'])

    # add price comparison field
    if 'unit_res_price_mean_P' in parcel_chk_hedonic_diff:
        parcel_chk_hedonic_diff.loc[:, 'unit_res_price_mean_comp'] = None
        parcel_chk_hedonic_diff.loc[
            parcel_chk_hedonic_diff.unit_res_price_mean_P > parcel_chk_hedonic_diff.unit_res_price_mean_NP,
            'unit_res_price_mean_comp'] = 'NP < P'
        parcel_chk_hedonic_diff.loc[
            parcel_chk_hedonic_diff.unit_res_price_mean_P < parcel_chk_hedonic_diff.unit_res_price_mean_NP,
            'unit_res_price_mean_comp'] = 'NP > P'
        parcel_chk_hedonic_diff.loc[
            parcel_chk_hedonic_diff.unit_res_price_mean_P == parcel_chk_hedonic_diff.unit_res_price_mean_NP,
            'unit_res_price_mean_comp'] = 'NP = P'
    else:
        parcel_chk_hedonic_diff.loc[:, 'unit_res_price_mean_comp'] = 'NP = P'

    if 'unit_res_rent_mean_P' in parcel_chk_hedonic_diff:
        parcel_chk_hedonic_diff.loc[:, 'unit_res_rent_mean_comp'] = None
        parcel_chk_hedonic_diff.loc[
            parcel_chk_hedonic_diff.unit_res_rent_mean_P > parcel_chk_hedonic_diff.unit_res_rent_mean_NP,
            'unit_res_rent_mean_comp'] = 'NP < P'
        parcel_chk_hedonic_diff.loc[
            parcel_chk_hedonic_diff.unit_res_rent_mean_P < parcel_chk_hedonic_diff.unit_res_rent_mean_NP,
            'unit_res_rent_mean_comp'] = 'NP > P'
        parcel_chk_hedonic_diff.loc[
            parcel_chk_hedonic_diff.unit_res_rent_mean_P == parcel_chk_hedonic_diff.unit_res_rent_mean_NP,
            'unit_res_rent_mean_comp'] = 'NP = P'
    else:
        parcel_chk_hedonic_diff.loc[:, 'unit_res_rent_mean_comp'] = 'NP = P'
    
    display(parcel_chk_hedonic_diff)

    # export
    parcel_chk_hedonic_diff.to_csv(os.path.join(parcel_trace_dir,
                                                parcels_chk_tag,
                                                '{}_4_parcels_hedonic_compare.csv'.format(year)), index=False)


    #################### parcel_data and building_data output
    print('############ parcel_data and building_data output')
    parcel_data = pd.read_csv(os.path.join(trace_dir, 'parcel_data_compare_{}.csv'.format(year)))
    blg_data = pd.read_csv(os.path.join(trace_dir, 'building_data_parcel_compare_{}.csv'.format(year)))

    parcels_chk_final = parcels_chk.merge(
                             parcel_data, on='parcel_id', how='left').merge(
                             blg_data, on='parcel_id', how='left')
    
    # fillin na
    for i in ['zoned_du', 'zoned_du_underbuild',
              'residential_units', 'resUnits_nondev', 'resUnits_dev', 'tothh']:
        parcels_chk_final[i+'_NP'].fillna(0, inplace=True)
        parcels_chk_final[i+'_P'].fillna(0, inplace=True)
    
    # compare NP and P
    parcels_chk_final_diff = \
        compare_variables_between_scenarios(parcels_chk_final, 'parcel_id', 'NP', 'P',
                                            compare_cols = ['zoned_du', 'zoned_du_underbuild', 
                                                            'residential_units',
                                                            'resUnits_nondev', 'unit_price_mean_nondev',
                                                            'resUnits_dev', 'unit_price_mean_dev',
                                                            'tothh'],
                                            keep_cols = ['SUPERD', 'SD_NAME', 'TAZ', 'node_id', 'tmnode_id',
                                                         '2050_hh_growth_diff'])
    # add back key fields for analysis
    parcels_chk_final_diff = parcels_chk_final_diff.merge(
                             parcels_chk_final[['parcel_id', 'residential_units_NP', 'residential_units_P',
                                                'resUnits_nondev_NP', 'resUnits_nondev_P',
                                                'resUnits_dev_NP', 'resUnits_dev_P', 'tothh_NP', 'tothh_P']])
    # add HH and units comparison column
    parcels_chk_final_diff.loc[:, 'tothh_comp'] = None
    parcels_chk_final_diff.loc[
        parcels_chk_final_diff.tothh_P > parcels_chk_final_diff.tothh_NP,
        'tothh_comp'] = 'NP < P'
    parcels_chk_final_diff.loc[
        parcels_chk_final_diff.tothh_P < parcels_chk_final_diff.tothh_NP,
        'tothh_comp'] = 'NP > P'
    parcels_chk_final_diff.loc[
        parcels_chk_final_diff.tothh_P == parcels_chk_final_diff.tothh_NP,
        'tothh_comp'] = 'NP = P'
    parcels_chk_final_diff.loc[
        (parcels_chk_final_diff.tothh_P == 0) & (parcels_chk_final_diff.tothh_NP == 0),
        'tothh_comp'] = 'No Household'
    
    parcels_chk_final_diff.loc[:, 'totUnits_comp'] = None
    parcels_chk_final_diff.loc[
        parcels_chk_final_diff.residential_units_P > parcels_chk_final_diff.residential_units_NP,
        'totUnits_comp'] = 'NP < P'
    parcels_chk_final_diff.loc[
        parcels_chk_final_diff.residential_units_P < parcels_chk_final_diff.residential_units_NP,
        'totUnits_comp'] = 'NP > P'
    parcels_chk_final_diff.loc[
        parcels_chk_final_diff.residential_units_P == parcels_chk_final_diff.residential_units_NP,
        'totUnits_comp'] = 'NP = P'
    parcels_chk_final_diff.loc[
        (parcels_chk_final_diff.residential_units_P == 0) & (parcels_chk_final_diff.residential_units_NP == 0),
        'totUnits_comp'] = 'No Housing'
    
    display(parcels_chk_final_diff)

    # export
    parcels_chk_final_diff.to_csv(os.path.join(parcel_trace_dir,
                                               parcels_chk_tag,
                                               '{}_5_parcels_final_compare.csv'.format(year)), index=False)

################################  2015
############ nodes and tmnode attributes ("neighborhood_vars", "regional_vars", "price_vars")
34037
compare retail_sqft_3000: identical between NP and P
compare sum_income_3000: identical between NP and P
compare residential_units_500: identical between NP and P
compare residential_units_1500: identical between NP and P
compare office_1500: identical between NP and P
compare retail_1500: identical between NP and P
compare industrial_1500: identical between NP and P
compare ave_sqft_per_unit: identical between NP and P
compare ave_lot_size_per_unit: identical between NP and P
compare population: identical between NP and P
compare poor: identical between NP and P
compare renters: identical between NP and P
compare sfdu: identical between NP and P
compare ave_hhsize: identical between NP and P
compare jobs_500: not identical between NP and P
compare jobs_1500: not identical between NP and P
compare ave_income_1500: identical between NP and P
compare ave_income_500: identical between NP and P
compare retail_ratio: identical between NP and P
compare residential: not identical between NP and P
compare retail: identical between NP and P
compare office: not identical between NP and P
compare industrial: not identical between NP and P
compare residential_units_45: identical between NP and P
compare jobs_15: not identical between NP and P
compare jobs_45: not identical between NP and P
compare sum_income_40: identical between NP and P
compare embarcadero: identical between NP and P
compare pacheights: identical between NP and P
compare stanford: identical between NP and P

C:\ProgramData\Anaconda3\envs\geo_env\lib\site-packages\pandas\core\indexing.py:1667: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = value
C:\ProgramData\Anaconda3\envs\geo_env\lib\site-packages\pandas\core\indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

,parcel_id,SUPERD,SD_NAME,TAZ,node_id,tmnode_id,2050_hh_growth_diff,industrial_NP,industrial_P,jobs_1500_NP,...,jobs_15_P,jobs_45_NP,jobs_45_P,jobs_500_NP,jobs_500_P,office_NP,office_P,residential_NP,residential_P,residential_price_comp
0,1711264,14.0,SE Snta Clara Cnty,710.0,168905,5427,NP > P,7.388745,7.364560,6.534995,...,9.789681,12.155181,12.155004,4.797022,4.799449,13.857484,13.820658,353.453186,353.536041,NP < P
1,1711387,14.0,SE Snta Clara Cnty,710.0,174035,5427,No Household,7.388745,7.364560,6.590234,...,9.789681,12.155181,12.155004,3.666249,3.673632,13.857484,13.820658,352.699310,352.936676,NP < P
2,1711391,14.0,SE Snta Clara Cnty,710.0,155140,4151,No Household,7.393150,7.368951,6.271308,...,9.752893,12.105490,12.105308,5.426705,5.427999,13.857484,13.820658,353.211365,353.294159,NP < P
3,1717862,14.0,SE Snta Clara Cnty,705.0,303519,4151,No Household,-1.000000,-1.000000,4.057982,...,9.752893,12.105490,12.105308,0.000000,0.000000,10.804435,10.775215,200.000000,200.000000,NP = P
4,1720010,14.0,SE Snta Clara Cnty,700.0,310217,10534,No Household,7.855904,7.855992,6.996161,...,10.195743,12.819112,12.819048,6.217203,6.217203,11.677463,11.677657,402.320648,402.414948,NP < P
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34032,2053438,14.0,SE Snta Clara Cnty,709.0,189466,709,No Household,7.108380,7.085003,6.535657,...,9.850502,12.242480,12.242309,4.998716,5.010146,13.087624,13.052739,366.253052,366.338898,NP < P
34033,2053472,14.0,SE Snta Clara Cnty,702.0,142028,4220,NP > P,7.913579,7.913662,5.956763,...,10.109794,12.759314,12.759241,3.740555,3.740555,12.011006,12.011198,426.187958,426.287842,NP < P
34034,2053524,14.0,SE Snta Clara Cnty,698.0,186270,20436,No Household,7.158350,7.113240,4.078222,...,10.135735,12.969353,12.969305,1.526843,1.526843,14.859439,14.859622,370.570038,371.963196,NP < P
34035,2053541,14.0,SE Snta Clara Cnty,702.0,180531,11203,NP < P,8.238580,8.238649,5.395376,...,9.867036,12.797729,12.797672,0.000000,0.000000,13.534012,13.534211,426.173462,426.273346,NP < P
34036,2053562,14.0,SE Snta Clara Cnty,700.0,190469,10533,No Household,7.781365,7.781424,6.253625,...,10.177628,12.905506,12.905452,3.036172,3.036172,13.435333,13.435526,445.564117,445.668549,NP < P

############ alt_feasibility results
['parcel_id', 'superdistrict_NP', 'total_cost_NP', 'building_revenue_NP', 'max_profit_far_NP', 'max_profit_NP', 'residential_sales_price_sqft_NP', 'residential_sqft_NP', 'superdistrict_P', 'total_cost_P', 'building_revenue_P', 'max_profit_far_P', 'max_profit_P', 'residential_sales_price_sqft_P', 'residential_sqft_P', 'max_profit_chk']
Both profitable        3471
Both not profitable    2577
not allow                35
P profitable only         7
Name: max_profit_chk, dtype: int64
compare total_cost: not identical between NP and P
compare building_revenue: not identical between NP and P
compare max_profit_far: not identical between NP and P
compare max_profit: not identical between NP and P
compare residential_sales_price_sqft: not identical between NP and P
compare residential_sqft: not identical between NP and P

,parcel_id,SUPERD,SD_NAME,TAZ,node_id,tmnode_id,2050_hh_growth_diff,building_revenue_NP,building_revenue_P,max_profit_NP,max_profit_P,max_profit_far_NP,max_profit_far_P,residential_sales_price_sqft_NP,residential_sales_price_sqft_P,residential_sqft_NP,residential_sqft_P,total_cost_NP,total_cost_P,max_profit_chk
0,1711264,14.0,SE Snta Clara Cnty,710.0,168905,5427,NP > P,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1711387,14.0,SE Snta Clara Cnty,710.0,174035,5427,No Household,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1711391,14.0,SE Snta Clara Cnty,710.0,155140,4151,No Household,1.377970e+07,1.378293e+07,1.786888e+06,1.793182e+06,2.75,2.75,353.211365,353.294159,48765.764319,48765.764319,1.199281e+07,1.198975e+07,Both profitable
3,1717862,14.0,SE Snta Clara Cnty,705.0,303519,4151,No Household,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1720010,14.0,SE Snta Clara Cnty,700.0,310217,10534,No Household,1.446759e+06,1.447098e+06,-3.903412e+05,-3.901510e+05,2.00,2.00,402.320648,402.414948,3596.034916,3596.034916,1.837100e+06,1.837249e+06,Both not profitable
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34032,2053438,14.0,SE Snta Clara Cnty,709.0,189466,709,No Household,4.935879e+07,4.937035e+07,1.329740e+07,1.330865e+07,1.50,1.50,366.253052,366.338898,134766.892813,134766.892813,3.606139e+07,3.606170e+07,Both profitable
34033,2053472,14.0,SE Snta Clara Cnty,702.0,142028,4220,NP > P,8.351885e+06,8.353842e+06,3.228304e+06,3.230261e+06,1.50,1.50,426.187958,426.287842,19596.717642,19596.717642,5.123581e+06,5.123581e+06,Both profitable
34034,2053524,14.0,SE Snta Clara Cnty,698.0,186270,20436,No Household,1.792053e+06,1.798791e+06,4.072686e+05,4.140058e+05,2.00,2.00,370.570038,371.963196,4835.937310,4835.937310,1.384785e+06,1.384785e+06,Both profitable
34035,2053541,14.0,SE Snta Clara Cnty,702.0,180531,11203,NP < P,7.658838e+07,7.660633e+07,2.820489e+07,2.822235e+07,1.50,1.50,426.173462,426.273346,179711.743206,179711.743206,4.838349e+07,4.838398e+07,Both profitable
34036,2053562,14.0,SE Snta Clara Cnty,700.0,190469,10533,No Household,2.060148e+07,2.060631e+07,8.512811e+06,8.517639e+06,1.50,1.50,445.564117,445.668549,46236.846342,46236.846342,1.208867e+07,1.208867e+07,Both profitable

############ residential_developer model result
['parcel_id', 'residential_units_NP', 'residential_units_P']

,parcel_id,2050_hh_growth_diff,node_id,tmnode_id,TAZ,SUPERD,SD_NAME,residential_units_NP,residential_units_P,residential_units_comp
0,1711264,NP > P,168905,5427,710.0,14.0,SE Snta Clara Cnty,0.0,0.0,no development
1,1711387,No Household,174035,5427,710.0,14.0,SE Snta Clara Cnty,0.0,0.0,no development
2,1711391,No Household,155140,4151,710.0,14.0,SE Snta Clara Cnty,0.0,0.0,no development
3,1717862,No Household,303519,4151,705.0,14.0,SE Snta Clara Cnty,0.0,0.0,no development
4,1720010,No Household,310217,10534,700.0,14.0,SE Snta Clara Cnty,0.0,0.0,no development
...,...,...,...,...,...,...,...,...,...,...
34032,2053438,No Household,189466,709,709.0,14.0,SE Snta Clara Cnty,0.0,0.0,no development
34033,2053472,NP > P,142028,4220,702.0,14.0,SE Snta Clara Cnty,0.0,0.0,no development
34034,2053524,No Household,186270,20436,698.0,14.0,SE Snta Clara Cnty,0.0,0.0,no development
34035,2053541,NP < P,180531,11203,702.0,14.0,SE Snta Clara Cnty,0.0,0.0,no development
34036,2053562,No Household,190469,10533,700.0,14.0,SE Snta Clara Cnty,0.0,0.0,no development

############ hedonic model results ("rsh_simulate", "rrh_simulate")
compare unit_res_price_min: not identical between NP and P
compare unit_res_price_max: not identical between NP and P
compare unit_res_price_mean: not identical between NP and P
compare unit_res_rent_min: not identical between NP and P
compare unit_res_rent_max: not identical between NP and P
compare unit_res_rent_mean: not identical between NP and P
compare unit_cnt: not identical between NP and P

C:\ProgramData\Anaconda3\envs\geo_env\lib\site-packages\pandas\core\indexing.py:1667: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = value
C:\ProgramData\Anaconda3\envs\geo_env\lib\site-packages\pandas\core\indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

,parcel_id,SUPERD,SD_NAME,TAZ,node_id,tmnode_id,2050_hh_growth_diff,unit_cnt_NP,unit_cnt_P,unit_res_price_max_NP,...,unit_res_price_min_NP,unit_res_price_min_P,unit_res_rent_max_NP,unit_res_rent_max_P,unit_res_rent_mean_NP,unit_res_rent_mean_P,unit_res_rent_min_NP,unit_res_rent_min_P,unit_res_price_mean_comp,unit_res_rent_mean_comp
0,1711264,14.0,SE Snta Clara Cnty,710.0,168905,5427,NP > P,1.0,1.0,307.591063,...,307.591063,310.310207,1.703370,1.703293,1.703370,1.703293,1.703370,1.703293,NP < P,NP > P
1,1711387,14.0,SE Snta Clara Cnty,710.0,174035,5427,No Household,1.0,1.0,200.000000,...,200.000000,200.000000,1.733113,1.733036,1.733113,1.733036,1.733113,1.733036,NP = P,NP > P
2,1711391,14.0,SE Snta Clara Cnty,710.0,155140,4151,No Household,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
3,1717862,14.0,SE Snta Clara Cnty,705.0,303519,4151,No Household,1.0,1.0,221.057220,...,221.057220,223.788253,0.884525,0.884446,0.884525,0.884446,0.884525,0.884446,NP < P,NP > P
4,1720010,14.0,SE Snta Clara Cnty,700.0,310217,10534,No Household,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34032,2053438,14.0,SE Snta Clara Cnty,709.0,189466,709,No Household,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
34033,2053472,14.0,SE Snta Clara Cnty,702.0,142028,4220,NP > P,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
34034,2053524,14.0,SE Snta Clara Cnty,698.0,186270,20436,No Household,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
34035,2053541,14.0,SE Snta Clara Cnty,702.0,180531,11203,NP < P,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
34036,2053562,14.0,SE Snta Clara Cnty,700.0,190469,10533,No Household,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None

############ parcel_data and building_data output
compare zoned_du: identical between NP and P
compare zoned_du_underbuild: not identical between NP and P
compare residential_units: not identical between NP and P
compare resUnits_nondev: not identical between NP and P
compare unit_price_mean_nondev: not identical between NP and P
compare resUnits_dev: identical between NP and P
compare unit_price_mean_dev: identical between NP and P
compare tothh: not identical between NP and P

,parcel_id,SUPERD,SD_NAME,TAZ,node_id,tmnode_id,2050_hh_growth_diff,resUnits_nondev_NP,resUnits_nondev_P,residential_units_NP,...,tothh_NP,tothh_P,unit_price_mean_nondev_NP,unit_price_mean_nondev_P,zoned_du_underbuild_NP,zoned_du_underbuild_P,resUnits_dev_NP,resUnits_dev_P,tothh_comp,totUnits_comp
0,1711264,14.0,SE Snta Clara Cnty,710.0,168905,5427,NP > P,1.0,1.0,1.0,...,0.0,1.0,542373.300665,542500.431743,5,5,0.0,0.0,NP < P,NP = P
1,1711387,14.0,SE Snta Clara Cnty,710.0,174035,5427,No Household,1.0,1.0,1.0,...,1.0,1.0,522436.689900,522559.147882,4,4,0.0,0.0,NP = P,NP = P
2,1711391,14.0,SE Snta Clara Cnty,710.0,155140,4151,No Household,0.0,0.0,0.0,...,0.0,0.0,NaN,NaN,52,52,0.0,0.0,No Household,No Housing
3,1717862,14.0,SE Snta Clara Cnty,705.0,303519,4151,No Household,1.0,1.0,1.0,...,1.0,1.0,518800.000000,518800.000000,1,1,0.0,0.0,NP = P,NP = P
4,1720010,14.0,SE Snta Clara Cnty,700.0,310217,10534,No Household,0.0,0.0,0.0,...,0.0,0.0,NaN,NaN,1,1,0.0,0.0,No Household,No Housing
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34032,2053438,14.0,SE Snta Clara Cnty,709.0,189466,709,No Household,0.0,0.0,0.0,...,0.0,0.0,NaN,NaN,155,155,0.0,0.0,No Household,No Housing
34033,2053472,14.0,SE Snta Clara Cnty,702.0,142028,4220,NP > P,0.0,0.0,0.0,...,0.0,0.0,NaN,NaN,22,22,0.0,0.0,No Household,No Housing
34034,2053524,14.0,SE Snta Clara Cnty,698.0,186270,20436,No Household,0.0,0.0,0.0,...,0.0,0.0,NaN,NaN,2,2,0.0,0.0,No Household,No Housing
34035,2053541,14.0,SE Snta Clara Cnty,702.0,180531,11203,NP < P,0.0,0.0,0.0,...,0.0,0.0,NaN,NaN,207,207,0.0,0.0,No Household,No Housing
34036,2053562,14.0,SE Snta Clara Cnty,700.0,190469,10533,No Household,0.0,0.0,0.0,...,0.0,0.0,NaN,NaN,26,26,0.0,0.0,No Household,No Housing

################################  2020
############ nodes and tmnode attributes ("neighborhood_vars", "regional_vars", "price_vars")
34037
compare retail_sqft_3000: identical between NP and P
compare sum_income_3000: not identical between NP and P
compare residential_units_500: not identical between NP and P
compare residential_units_1500: not identical between NP and P
compare office_1500: identical between NP and P
compare retail_1500: identical between NP and P
compare industrial_1500: identical between NP and P
compare ave_sqft_per_unit: not identical between NP and P
compare ave_lot_size_per_unit: not identical between NP and P
compare population: not identical between NP and P
compare poor: not identical between NP and P
compare renters: identical between NP and P
compare sfdu: identical between NP and P
compare ave_hhsize: not identical between NP and P
compare jobs_500: not identical between NP and P
compare jobs_1500: not identical between NP and P
compare ave_income_1500: not identical between NP and P
compare ave_income_500: not identical between NP and P
compare retail_ratio: not identical between NP and P
compare residential: not identical between NP and P
compare retail: not identical between NP and P
compare office: not identical between NP and P
compare industrial: not identical between NP and P
compare residential_units_45: not identical between NP and P
compare jobs_15: not identical between NP and P
compare jobs_45: not identical between NP and P
compare sum_income_40: not identical between NP and P
compare embarcadero: identical between NP and P
compare pacheights: identical between NP and P
compare stanford: identical between NP and P

C:\ProgramData\Anaconda3\envs\geo_env\lib\site-packages\pandas\core\indexing.py:1667: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = value
C:\ProgramData\Anaconda3\envs\geo_env\lib\site-packages\pandas\core\indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

,parcel_id,SUPERD,SD_NAME,TAZ,node_id,tmnode_id,2050_hh_growth_diff,ave_hhsize_NP,ave_hhsize_P,ave_income_1500_NP,...,residential_units_500_P,retail_NP,retail_P,retail_ratio_NP,retail_ratio_P,sum_income_3000_NP,sum_income_3000_P,sum_income_40_NP,sum_income_40_P,residential_price_comp
0,1711264,14.0,SE Snta Clara Cnty,710.0,168905,5427,NP > P,1.355651,1.343129,11.423012,...,5.727995,18.906881,18.883902,8.101607e+02,7.985358e+02,499789290.0,492617856.0,2.727348e+10,2.725349e+10,NP < P
1,1711387,14.0,SE Snta Clara Cnty,710.0,174035,5427,No Household,1.354043,1.340621,11.424105,...,5.689356,18.906881,18.883902,8.109153e+02,8.047950e+02,508575056.0,504736606.0,2.727348e+10,2.725349e+10,NP < P
2,1711391,14.0,SE Snta Clara Cnty,710.0,155140,4151,No Household,1.349411,1.342766,11.423012,...,5.048719,19.033382,19.016603,9.416398e+02,9.312571e+02,510812728.0,505180386.0,2.608089e+10,2.608055e+10,NP < P
3,1717862,14.0,SE Snta Clara Cnty,705.0,303519,4151,No Household,1.312523,1.333108,11.561725,...,4.932466,-1.000000,-1.000000,7.912193e+07,7.793532e+07,79121928.0,77935318.0,2.608089e+10,2.608055e+10,NP = P
4,1720010,14.0,SE Snta Clara Cnty,700.0,310217,10534,No Household,1.267511,1.321231,11.414221,...,5.003946,17.888403,17.888947,3.272638e+02,3.260599e+02,170580414.0,169952934.0,3.982759e+10,3.979713e+10,NP < P
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34032,2053438,14.0,SE Snta Clara Cnty,709.0,189466,709,No Household,1.351172,1.354043,11.338584,...,4.359396,18.923325,18.907066,4.975390e+02,4.896550e+02,453435962.0,446250836.0,2.907333e+10,2.905426e+10,NP < P
34033,2053472,14.0,SE Snta Clara Cnty,702.0,142028,4220,NP > P,1.294115,1.319470,11.398648,...,4.191468,18.148954,18.151875,4.151573e+02,4.093728e+02,237638368.0,234327308.0,3.837549e+10,3.833007e+10,NP < P
34034,2053524,14.0,SE Snta Clara Cnty,698.0,186270,20436,No Household,1.369487,1.383561,11.835016,...,4.505384,17.425798,17.432158,1.391737e+02,1.502364e+02,54279548.0,58594134.0,4.371197e+10,4.371046e+10,NP < P
34035,2053541,14.0,SE Snta Clara Cnty,702.0,180531,11203,NP < P,1.335135,1.327631,11.568180,...,4.807001,18.824627,18.832045,1.541444e+03,1.539877e+03,294147880.0,293848840.0,3.941207e+10,3.937279e+10,NP < P
34036,2053562,14.0,SE Snta Clara Cnty,700.0,190469,10533,No Household,1.298417,1.302811,11.415324,...,5.013956,18.824627,18.832045,7.134291e+02,7.285092e+02,271179182.0,276911206.0,4.179081e+10,4.177690e+10,NP < P

############ alt_feasibility results
['parcel_id', 'superdistrict_NP', 'total_cost_NP', 'building_revenue_NP', 'max_profit_far_NP', 'max_profit_NP', 'residential_sales_price_sqft_NP', 'residential_sqft_NP', 'superdistrict_P', 'total_cost_P', 'building_revenue_P', 'max_profit_far_P', 'max_profit_P', 'residential_sales_price_sqft_P', 'residential_sqft_P', 'max_profit_chk']
Both profitable        3592
Both not profitable    2943
not allow                36
only allow in P          19
only allow in NP         16
P profitable only        15
Name: max_profit_chk, dtype: int64
compare total_cost: not identical between NP and P
compare building_revenue: not identical between NP and P
compare max_profit_far: not identical between NP and P
compare max_profit: not identical between NP and P
compare residential_sales_price_sqft: not identical between NP and P
compare residential_sqft: not identical between NP and P

,parcel_id,SUPERD,SD_NAME,TAZ,node_id,tmnode_id,2050_hh_growth_diff,building_revenue_NP,building_revenue_P,max_profit_NP,max_profit_P,max_profit_far_NP,max_profit_far_P,residential_sales_price_sqft_NP,residential_sales_price_sqft_P,residential_sqft_NP,residential_sqft_P,total_cost_NP,total_cost_P,max_profit_chk
0,1711264,14.0,SE Snta Clara Cnty,710.0,168905,5427,NP > P,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1711387,14.0,SE Snta Clara Cnty,710.0,174035,5427,No Household,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1711391,14.0,SE Snta Clara Cnty,710.0,155140,4151,No Household,1.341209e+07,1.343527e+07,1.478479e+06,1.504156e+06,2.75,2.75,343.788452,344.382751,48765.764319,48765.764319,1.193361e+07,1.193111e+07,Both profitable
3,1717862,14.0,SE Snta Clara Cnty,705.0,303519,4151,No Household,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1720010,14.0,SE Snta Clara Cnty,700.0,310217,10534,No Household,1.067764e+06,1.069640e+06,-4.325409e+05,-4.349951e+05,1.50,1.50,395.904083,396.599762,2697.026187,2697.026187,1.500305e+06,1.504635e+06,Both not profitable
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34032,2053438,14.0,SE Snta Clara Cnty,709.0,189466,709,No Household,4.759168e+07,4.767400e+07,1.157880e+07,1.165886e+07,1.50,1.50,353.140717,353.751556,134766.892813,134766.892813,3.601288e+07,3.601514e+07,Both profitable
34033,2053472,14.0,SE Snta Clara Cnty,702.0,142028,4220,NP > P,8.148290e+06,8.156837e+06,3.024709e+06,3.033256e+06,1.50,1.50,415.798706,416.234863,19596.717642,19596.717642,5.123581e+06,5.123581e+06,Both profitable
34034,2053524,14.0,SE Snta Clara Cnty,698.0,186270,20436,No Household,1.845733e+06,1.853477e+06,4.609483e+05,4.686926e+05,2.00,2.00,381.670197,383.271606,4835.937310,4835.937310,1.384785e+06,1.384785e+06,Both profitable
34035,2053541,14.0,SE Snta Clara Cnty,702.0,180531,11203,NP < P,7.704708e+07,7.725852e+07,2.865100e+07,2.885663e+07,1.50,1.50,428.725891,429.902435,179711.743206,179711.743206,4.839608e+07,4.840188e+07,Both profitable
34036,2053562,14.0,SE Snta Clara Cnty,700.0,190469,10533,No Household,2.399800e+07,2.409687e+07,8.091801e+06,8.190668e+06,1.80,1.80,432.519440,434.301331,55484.215611,55484.215611,1.590620e+07,1.590620e+07,Both profitable

############ residential_developer model result
['parcel_id', 'residential_units_NP', 'residential_units_P']

,parcel_id,2050_hh_growth_diff,node_id,tmnode_id,TAZ,SUPERD,SD_NAME,residential_units_NP,residential_units_P,residential_units_comp
0,1711264,NP > P,168905,5427,710.0,14.0,SE Snta Clara Cnty,0.0,0.0,no development
1,1711387,No Household,174035,5427,710.0,14.0,SE Snta Clara Cnty,0.0,0.0,no development
2,1711391,No Household,155140,4151,710.0,14.0,SE Snta Clara Cnty,0.0,0.0,no development
3,1717862,No Household,303519,4151,705.0,14.0,SE Snta Clara Cnty,0.0,0.0,no development
4,1720010,No Household,310217,10534,700.0,14.0,SE Snta Clara Cnty,0.0,0.0,no development
...,...,...,...,...,...,...,...,...,...,...
34032,2053438,No Household,189466,709,709.0,14.0,SE Snta Clara Cnty,0.0,0.0,no development
34033,2053472,NP > P,142028,4220,702.0,14.0,SE Snta Clara Cnty,0.0,0.0,no development
34034,2053524,No Household,186270,20436,698.0,14.0,SE Snta Clara Cnty,0.0,0.0,no development
34035,2053541,NP < P,180531,11203,702.0,14.0,SE Snta Clara Cnty,0.0,0.0,no development
34036,2053562,No Household,190469,10533,700.0,14.0,SE Snta Clara Cnty,0.0,0.0,no development

############ hedonic model results ("rsh_simulate", "rrh_simulate")
compare unit_res_price_min: not identical between NP and P
compare unit_res_price_max: not identical between NP and P
compare unit_res_price_mean: not identical between NP and P
compare unit_res_rent_min: not identical between NP and P
compare unit_res_rent_max: not identical between NP and P
compare unit_res_rent_mean: not identical between NP and P
compare unit_cnt: not identical between NP and P

C:\ProgramData\Anaconda3\envs\geo_env\lib\site-packages\pandas\core\indexing.py:1667: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = value
C:\ProgramData\Anaconda3\envs\geo_env\lib\site-packages\pandas\core\indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

,parcel_id,SUPERD,SD_NAME,TAZ,node_id,tmnode_id,2050_hh_growth_diff,unit_cnt_NP,unit_cnt_P,unit_res_price_max_NP,...,unit_res_price_min_NP,unit_res_price_min_P,unit_res_rent_max_NP,unit_res_rent_max_P,unit_res_rent_mean_NP,unit_res_rent_mean_P,unit_res_rent_min_NP,unit_res_rent_min_P,unit_res_price_mean_comp,unit_res_rent_mean_comp
0,1711264,14.0,SE Snta Clara Cnty,710.0,168905,5427,NP > P,1.0,1.0,292.400793,...,292.400793,284.623159,1.764745,1.763707,1.764745,1.763707,1.764745,1.763707,NP > P,NP > P
1,1711387,14.0,SE Snta Clara Cnty,710.0,174035,5427,No Household,1.0,1.0,200.000000,...,200.000000,200.000000,1.794566,1.793636,1.794566,1.793636,1.794566,1.793636,NP = P,NP > P
2,1711391,14.0,SE Snta Clara Cnty,710.0,155140,4151,No Household,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
3,1717862,14.0,SE Snta Clara Cnty,705.0,303519,4151,No Household,1.0,1.0,200.000000,...,200.000000,200.000000,0.949516,0.948563,0.949516,0.948563,0.949516,0.948563,NP = P,NP > P
4,1720010,14.0,SE Snta Clara Cnty,700.0,310217,10534,No Household,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34032,2053438,14.0,SE Snta Clara Cnty,709.0,189466,709,No Household,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
34033,2053472,14.0,SE Snta Clara Cnty,702.0,142028,4220,NP > P,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
34034,2053524,14.0,SE Snta Clara Cnty,698.0,186270,20436,No Household,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
34035,2053541,14.0,SE Snta Clara Cnty,702.0,180531,11203,NP < P,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
34036,2053562,14.0,SE Snta Clara Cnty,700.0,190469,10533,No Household,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None

############ parcel_data and building_data output
compare zoned_du: identical between NP and P
compare zoned_du_underbuild: not identical between NP and P
compare residential_units: not identical between NP and P
compare resUnits_nondev: not identical between NP and P
compare unit_price_mean_nondev: not identical between NP and P
compare resUnits_dev: identical between NP and P
compare unit_price_mean_dev: identical between NP and P
compare tothh: not identical between NP and P

,parcel_id,SUPERD,SD_NAME,TAZ,node_id,tmnode_id,2050_hh_growth_diff,resUnits_nondev_NP,resUnits_nondev_P,residential_units_NP,...,tothh_NP,tothh_P,unit_price_mean_nondev_NP,unit_price_mean_nondev_P,zoned_du_underbuild_NP,zoned_du_underbuild_P,resUnits_dev_NP,resUnits_dev_P,tothh_comp,totUnits_comp
0,1711264,14.0,SE Snta Clara Cnty,710.0,168905,5427,NP > P,1.0,1.0,1.0,...,0.0,1.0,525145.112343,526051.565954,5,5,0.0,0.0,NP < P,NP = P
1,1711387,14.0,SE Snta Clara Cnty,710.0,174035,5427,No Household,1.0,1.0,1.0,...,1.0,1.0,505752.870712,506626.244246,4,4,0.0,0.0,NP = P,NP = P
2,1711391,14.0,SE Snta Clara Cnty,710.0,155140,4151,No Household,0.0,0.0,0.0,...,0.0,0.0,NaN,NaN,52,52,0.0,0.0,No Household,No Housing
3,1717862,14.0,SE Snta Clara Cnty,705.0,303519,4151,No Household,1.0,1.0,1.0,...,1.0,1.0,573422.428483,580506.728842,1,1,0.0,0.0,NP = P,NP = P
4,1720010,14.0,SE Snta Clara Cnty,700.0,310217,10534,No Household,0.0,0.0,0.0,...,0.0,0.0,NaN,NaN,1,1,0.0,0.0,No Household,No Housing
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34032,2053438,14.0,SE Snta Clara Cnty,709.0,189466,709,No Household,0.0,0.0,0.0,...,0.0,0.0,NaN,NaN,155,155,0.0,0.0,No Household,No Housing
34033,2053472,14.0,SE Snta Clara Cnty,702.0,142028,4220,NP > P,0.0,0.0,0.0,...,0.0,0.0,NaN,NaN,22,22,0.0,0.0,No Household,No Housing
34034,2053524,14.0,SE Snta Clara Cnty,698.0,186270,20436,No Household,0.0,0.0,0.0,...,0.0,0.0,NaN,NaN,2,2,0.0,0.0,No Household,No Housing
34035,2053541,14.0,SE Snta Clara Cnty,702.0,180531,11203,NP < P,0.0,0.0,0.0,...,0.0,0.0,NaN,NaN,207,207,0.0,0.0,No Household,No Housing
34036,2053562,14.0,SE Snta Clara Cnty,700.0,190469,10533,No Household,0.0,0.0,0.0,...,0.0,0.0,NaN,NaN,26,26,0.0,0.0,No Household,No Housing

################################  2025
############ nodes and tmnode attributes ("neighborhood_vars", "regional_vars", "price_vars")
34037
compare retail_sqft_3000: identical between NP and P
compare sum_income_3000: not identical between NP and P
compare residential_units_500: not identical between NP and P
compare residential_units_1500: not identical between NP and P
compare office_1500: identical between NP and P
compare retail_1500: identical between NP and P
compare industrial_1500: identical between NP and P
compare ave_sqft_per_unit: not identical between NP and P
compare ave_lot_size_per_unit: not identical between NP and P
compare population: not identical between NP and P
compare poor: not identical between NP and P
compare renters: identical between NP and P
compare sfdu: identical between NP and P
compare ave_hhsize: not identical between NP and P
compare jobs_500: not identical between NP and P
compare jobs_1500: not identical between NP and P
compare ave_income_1500: not identical between NP and P
compare ave_income_500: not identical between NP and P
compare retail_ratio: not identical between NP and P
compare residential: not identical between NP and P
compare retail: not identical between NP and P
compare office: not identical between NP and P
compare industrial: not identical between NP and P
compare residential_units_45: not identical between NP and P
compare jobs_15: not identical between NP and P
compare jobs_45: not identical between NP and P
compare sum_income_40: not identical between NP and P
compare embarcadero: identical between NP and P
compare pacheights: identical between NP and P
compare stanford: identical between NP and P

C:\ProgramData\Anaconda3\envs\geo_env\lib\site-packages\pandas\core\indexing.py:1667: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = value
C:\ProgramData\Anaconda3\envs\geo_env\lib\site-packages\pandas\core\indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

,parcel_id,SUPERD,SD_NAME,TAZ,node_id,tmnode_id,2050_hh_growth_diff,ave_hhsize_NP,ave_hhsize_P,ave_income_1500_NP,...,residential_units_500_P,retail_NP,retail_P,retail_ratio_NP,retail_ratio_P,sum_income_3000_NP,sum_income_3000_P,sum_income_40_NP,sum_income_40_P,residential_price_comp
0,1711264,14.0,SE Snta Clara Cnty,710.0,168905,5427,NP > P,1.336054,1.323760,11.542494,...,5.727995,18.816572,18.796999,7.783095e+02,7.649805e+02,482011714.0,473756988.0,2.605582e+10,2.604706e+10,NP > P
1,1711387,14.0,SE Snta Clara Cnty,710.0,174035,5427,No Household,1.331997,1.324212,11.538603,...,5.689356,18.816572,18.796999,7.774180e+02,7.666128e+02,489487376.0,482684072.0,2.605582e+10,2.604706e+10,NP > P
2,1711391,14.0,SE Snta Clara Cnty,710.0,155140,4151,No Household,1.337708,1.329762,11.553693,...,5.048719,18.926052,18.902241,9.187281e+02,8.964424e+02,500333224.0,488196616.0,2.500675e+10,2.499510e+10,NP > P
3,1717862,14.0,SE Snta Clara Cnty,705.0,303519,4151,No Household,1.307263,1.341089,11.666513,...,4.932466,-1.000000,-1.000000,9.536974e+07,9.074883e+07,95369742.0,90748826.0,2.500675e+10,2.499510e+10,NP = P
4,1720010,14.0,SE Snta Clara Cnty,700.0,310217,10534,No Household,1.213814,1.194627,11.115295,...,5.003946,17.814405,17.829023,3.407435e+02,3.508274e+02,177309128.0,182556394.0,3.754687e+10,3.751314e+10,NP > P
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34032,2053438,14.0,SE Snta Clara Cnty,709.0,189466,709,No Household,1.332135,1.332462,11.415875,...,4.359396,18.849455,18.831184,4.747777e+02,4.572656e+02,433897562.0,417893288.0,2.772308e+10,2.772525e+10,NP > P
34033,2053472,14.0,SE Snta Clara Cnty,702.0,142028,4220,NP > P,1.316152,1.329816,11.512935,...,4.191468,18.046310,18.063835,4.323109e+02,4.398635e+02,245019256.0,249299846.0,3.619076e+10,3.615590e+10,NP < P
34034,2053524,14.0,SE Snta Clara Cnty,698.0,186270,20436,No Household,1.332147,1.374933,11.798112,...,4.730552,17.387630,17.385714,1.670292e+02,1.636612e+02,66464300.0,65124102.0,4.111183e+10,4.109049e+10,NP > P
34035,2053541,14.0,SE Snta Clara Cnty,702.0,180531,11203,NP < P,1.331566,1.321889,11.678448,...,4.815314,18.696886,18.716801,2.003539e+03,2.012577e+03,307077876.0,308463132.0,3.717701e+10,3.713894e+10,NP > P
34036,2053562,14.0,SE Snta Clara Cnty,700.0,190469,10533,No Household,1.290413,1.329503,11.515931,...,5.017259,18.696886,18.716801,8.479936e+02,8.567564e+02,296622098.0,299687274.0,3.934591e+10,3.933854e+10,NP < P

############ alt_feasibility results
['parcel_id', 'superdistrict_NP', 'total_cost_NP', 'building_revenue_NP', 'max_profit_far_NP', 'max_profit_NP', 'residential_sales_price_sqft_NP', 'residential_sqft_NP', 'superdistrict_P', 'total_cost_P', 'building_revenue_P', 'max_profit_far_P', 'max_profit_P', 'residential_sales_price_sqft_P', 'residential_sqft_P', 'max_profit_chk']
Both profitable        3720
Both not profitable    3408
only allow in P          48
only allow in NP         42
not allow                36
NP profitable only       28
P profitable only        19
Name: max_profit_chk, dtype: int64
compare total_cost: not identical between NP and P
compare building_revenue: not identical between NP and P
compare max_profit_far: not identical between NP and P
compare max_profit: not identical between NP and P
compare residential_sales_price_sqft: not identical between NP and P
compare residential_sqft: not identical between NP and P

,parcel_id,SUPERD,SD_NAME,TAZ,node_id,tmnode_id,2050_hh_growth_diff,building_revenue_NP,building_revenue_P,max_profit_NP,max_profit_P,max_profit_far_NP,max_profit_far_P,residential_sales_price_sqft_NP,residential_sales_price_sqft_P,residential_sqft_NP,residential_sqft_P,total_cost_NP,total_cost_P,max_profit_chk
0,1711264,14.0,SE Snta Clara Cnty,710.0,168905,5427,NP > P,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1711387,14.0,SE Snta Clara Cnty,710.0,174035,5427,No Household,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1711391,14.0,SE Snta Clara Cnty,710.0,155140,4151,No Household,1.347559e+07,1.344991e+07,1.539273e+06,1.526831e+06,2.75,2.75,345.416351,344.758087,48765.764319,48765.764319,1.193632e+07,1.192308e+07,Both profitable
3,1717862,14.0,SE Snta Clara Cnty,705.0,303519,4151,No Household,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1720010,14.0,SE Snta Clara Cnty,700.0,310217,10534,No Household,1.053864e+06,1.040137e+06,-4.379629e+05,-4.509260e+05,1.50,1.50,390.750458,385.660706,2697.026187,2697.026187,1.491827e+06,1.491063e+06,Both not profitable
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34032,2053438,14.0,SE Snta Clara Cnty,709.0,189466,709,No Household,4.789386e+07,4.780240e+07,1.187269e+07,1.178374e+07,1.50,1.50,355.382996,354.704346,134766.892813,134766.892813,3.602117e+07,3.601866e+07,Both profitable
34033,2053472,14.0,SE Snta Clara Cnty,702.0,142028,4220,NP > P,8.082926e+06,8.102695e+06,2.959345e+06,2.979114e+06,1.50,1.50,412.463257,413.472046,19596.717642,19596.717642,5.123581e+06,5.123581e+06,Both profitable
34034,2053524,14.0,SE Snta Clara Cnty,698.0,186270,20436,No Household,1.276905e+06,1.233687e+06,3.286345e+05,2.854167e+05,1.50,1.50,352.059967,340.144226,3626.952983,3626.952983,9.482704e+05,9.482704e+05,Both profitable
34035,2053541,14.0,SE Snta Clara Cnty,702.0,180531,11203,NP < P,7.418136e+07,7.373009e+07,2.586395e+07,2.542507e+07,1.50,1.50,412.779724,410.268616,179711.743206,179711.743206,4.831741e+07,4.830502e+07,Both profitable
34036,2053562,14.0,SE Snta Clara Cnty,700.0,190469,10533,No Household,2.361155e+07,2.366345e+07,7.705351e+06,7.757252e+06,1.80,1.80,425.554382,426.489807,55484.215611,55484.215611,1.590620e+07,1.590620e+07,Both profitable

############ residential_developer model result
['parcel_id', 'residential_units_NP', 'residential_units_P']

,parcel_id,2050_hh_growth_diff,node_id,tmnode_id,TAZ,SUPERD,SD_NAME,residential_units_NP,residential_units_P,residential_units_comp
0,1711264,NP > P,168905,5427,710.0,14.0,SE Snta Clara Cnty,0.0,0.0,no development
1,1711387,No Household,174035,5427,710.0,14.0,SE Snta Clara Cnty,0.0,0.0,no development
2,1711391,No Household,155140,4151,710.0,14.0,SE Snta Clara Cnty,0.0,0.0,no development
3,1717862,No Household,303519,4151,705.0,14.0,SE Snta Clara Cnty,0.0,0.0,no development
4,1720010,No Household,310217,10534,700.0,14.0,SE Snta Clara Cnty,0.0,0.0,no development
...,...,...,...,...,...,...,...,...,...,...
34032,2053438,No Household,189466,709,709.0,14.0,SE Snta Clara Cnty,0.0,0.0,no development
34033,2053472,NP > P,142028,4220,702.0,14.0,SE Snta Clara Cnty,0.0,0.0,no development
34034,2053524,No Household,186270,20436,698.0,14.0,SE Snta Clara Cnty,0.0,0.0,no development
34035,2053541,NP < P,180531,11203,702.0,14.0,SE Snta Clara Cnty,0.0,0.0,no development
34036,2053562,No Household,190469,10533,700.0,14.0,SE Snta Clara Cnty,0.0,0.0,no development

############ hedonic model results ("rsh_simulate", "rrh_simulate")
compare unit_res_price_min: not identical between NP and P
compare unit_res_price_max: not identical between NP and P
compare unit_res_price_mean: not identical between NP and P
compare unit_res_rent_min: not identical between NP and P
compare unit_res_rent_max: not identical between NP and P
compare unit_res_rent_mean: not identical between NP and P
compare unit_cnt: not identical between NP and P

C:\ProgramData\Anaconda3\envs\geo_env\lib\site-packages\pandas\core\indexing.py:1667: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = value
C:\ProgramData\Anaconda3\envs\geo_env\lib\site-packages\pandas\core\indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

,parcel_id,SUPERD,SD_NAME,TAZ,node_id,tmnode_id,2050_hh_growth_diff,unit_cnt_NP,unit_cnt_P,unit_res_price_max_NP,...,unit_res_price_min_NP,unit_res_price_min_P,unit_res_rent_max_NP,unit_res_rent_max_P,unit_res_rent_mean_NP,unit_res_rent_mean_P,unit_res_rent_min_NP,unit_res_rent_min_P,unit_res_price_mean_comp,unit_res_rent_mean_comp
0,1711264,14.0,SE Snta Clara Cnty,710.0,168905,5427,NP > P,1.0,1.0,338.006014,...,338.006014,321.091240,1.774043,1.772191,1.774043,1.772191,1.774043,1.772191,NP > P,NP > P
1,1711387,14.0,SE Snta Clara Cnty,710.0,174035,5427,No Household,1.0,1.0,200.000000,...,200.000000,200.000000,1.804392,1.802692,1.804392,1.802692,1.804392,1.802692,NP = P,NP > P
2,1711391,14.0,SE Snta Clara Cnty,710.0,155140,4151,No Household,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
3,1717862,14.0,SE Snta Clara Cnty,705.0,303519,4151,No Household,1.0,1.0,234.183378,...,234.183378,222.131214,0.966064,0.963694,0.966064,0.963694,0.966064,0.963694,NP > P,NP > P
4,1720010,14.0,SE Snta Clara Cnty,700.0,310217,10534,No Household,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34032,2053438,14.0,SE Snta Clara Cnty,709.0,189466,709,No Household,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
34033,2053472,14.0,SE Snta Clara Cnty,702.0,142028,4220,NP > P,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
34034,2053524,14.0,SE Snta Clara Cnty,698.0,186270,20436,No Household,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
34035,2053541,14.0,SE Snta Clara Cnty,702.0,180531,11203,NP < P,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
34036,2053562,14.0,SE Snta Clara Cnty,700.0,190469,10533,No Household,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None

############ parcel_data and building_data output
compare zoned_du: identical between NP and P
compare zoned_du_underbuild: not identical between NP and P
compare residential_units: not identical between NP and P
compare resUnits_nondev: not identical between NP and P
compare unit_price_mean_nondev: not identical between NP and P
compare resUnits_dev: identical between NP and P
compare unit_price_mean_dev: identical between NP and P
compare tothh: not identical between NP and P

,parcel_id,SUPERD,SD_NAME,TAZ,node_id,tmnode_id,2050_hh_growth_diff,resUnits_nondev_NP,resUnits_nondev_P,residential_units_NP,...,tothh_NP,tothh_P,unit_price_mean_nondev_NP,unit_price_mean_nondev_P,zoned_du_underbuild_NP,zoned_du_underbuild_P,resUnits_dev_NP,resUnits_dev_P,tothh_comp,totUnits_comp
0,1711264,14.0,SE Snta Clara Cnty,710.0,168905,5427,NP > P,1.0,1.0,1.0,...,1.0,0.0,531097.061144,530133.939425,5,5,0.0,0.0,NP > P,NP = P
1,1711387,14.0,SE Snta Clara Cnty,710.0,174035,5427,No Household,1.0,1.0,1.0,...,1.0,1.0,511202.079394,510310.869146,4,4,0.0,0.0,NP = P,NP = P
2,1711391,14.0,SE Snta Clara Cnty,710.0,155140,4151,No Household,0.0,0.0,0.0,...,0.0,0.0,NaN,NaN,52,52,0.0,0.0,No Household,No Housing
3,1717862,14.0,SE Snta Clara Cnty,705.0,303519,4151,No Household,1.0,1.0,1.0,...,1.0,1.0,518800.000000,518800.000000,1,1,0.0,0.0,NP = P,NP = P
4,1720010,14.0,SE Snta Clara Cnty,700.0,310217,10534,No Household,0.0,0.0,0.0,...,0.0,0.0,NaN,NaN,1,1,0.0,0.0,No Household,No Housing
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34032,2053438,14.0,SE Snta Clara Cnty,709.0,189466,709,No Household,0.0,0.0,0.0,...,0.0,0.0,NaN,NaN,155,155,0.0,0.0,No Household,No Housing
34033,2053472,14.0,SE Snta Clara Cnty,702.0,142028,4220,NP > P,0.0,0.0,0.0,...,0.0,0.0,NaN,NaN,22,22,0.0,0.0,No Household,No Housing
34034,2053524,14.0,SE Snta Clara Cnty,698.0,186270,20436,No Household,0.0,0.0,0.0,...,0.0,0.0,NaN,NaN,2,2,0.0,0.0,No Household,No Housing
34035,2053541,14.0,SE Snta Clara Cnty,702.0,180531,11203,NP < P,0.0,0.0,0.0,...,0.0,0.0,NaN,NaN,207,207,0.0,0.0,No Household,No Housing
34036,2053562,14.0,SE Snta Clara Cnty,700.0,190469,10533,No Household,0.0,0.0,0.0,...,0.0,0.0,NaN,NaN,26,26,0.0,0.0,No Household,No Housing

################################  2030
############ nodes and tmnode attributes ("neighborhood_vars", "regional_vars", "price_vars")
34037
compare retail_sqft_3000: identical between NP and P
compare sum_income_3000: not identical between NP and P
compare residential_units_500: not identical between NP and P
compare residential_units_1500: not identical between NP and P
compare office_1500: identical between NP and P
compare retail_1500: identical between NP and P
compare industrial_1500: identical between NP and P
compare ave_sqft_per_unit: not identical between NP and P
compare ave_lot_size_per_unit: not identical between NP and P
compare population: not identical between NP and P
compare poor: not identical between NP and P
compare renters: identical between NP and P
compare sfdu: identical between NP and P
compare ave_hhsize: not identical between NP and P
compare jobs_500: not identical between NP and P
compare jobs_1500: not identical between NP and P
compare ave_income_1500: not identical between NP and P
compare ave_income_500: not identical between NP and P
compare retail_ratio: not identical between NP and P
compare residential: not identical between NP and P
compare retail: not identical between NP and P
compare office: not identical between NP and P
compare industrial: not identical between NP and P
compare residential_units_45: not identical between NP and P
compare jobs_15: not identical between NP and P
compare jobs_45: not identical between NP and P
compare sum_income_40: not identical between NP and P
compare embarcadero: identical between NP and P
compare pacheights: identical between NP and P
compare stanford: identical between NP and P

C:\ProgramData\Anaconda3\envs\geo_env\lib\site-packages\pandas\core\indexing.py:1667: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = value
C:\ProgramData\Anaconda3\envs\geo_env\lib\site-packages\pandas\core\indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

,parcel_id,SUPERD,SD_NAME,TAZ,node_id,tmnode_id,2050_hh_growth_diff,ave_hhsize_NP,ave_hhsize_P,ave_income_1500_NP,...,residential_units_500_P,retail_NP,retail_P,retail_ratio_NP,retail_ratio_P,sum_income_3000_NP,sum_income_3000_P,sum_income_40_NP,sum_income_40_P,residential_price_comp
0,1711264,14.0,SE Snta Clara Cnty,710.0,168905,5427,NP > P,1.317452,1.312867,11.531168,...,5.836613,19.095066,19.079027,8.319319e+02,8.159143e+02,518764548.0,508776536.0,3.045651e+10,3.038495e+10,NP > P
1,1711387,14.0,SE Snta Clara Cnty,710.0,174035,5427,No Household,1.317896,1.312228,11.522886,...,5.689356,19.095066,19.079027,8.269816e+02,8.137381e+02,524971720.0,516564660.0,3.045651e+10,3.038495e+10,NP > P
2,1711391,14.0,SE Snta Clara Cnty,710.0,155140,4151,No Household,1.314237,1.315952,11.542494,...,5.048719,19.177498,19.146294,9.784921e+02,9.592788e+02,537349970.0,526798744.0,2.913005e+10,2.907371e+10,NP > P
3,1717862,14.0,SE Snta Clara Cnty,705.0,303519,4151,No Household,1.329136,1.313140,11.643085,...,4.932466,-1.000000,-1.000000,1.083410e+08,1.017383e+08,108341030.0,101738276.0,2.913005e+10,2.907371e+10,NP > P
4,1720010,14.0,SE Snta Clara Cnty,700.0,310217,10534,No Household,1.205684,1.168147,11.127278,...,5.003946,18.085083,18.080462,4.015724e+02,4.080962e+02,209103564.0,212500584.0,4.451144e+10,4.424765e+10,NP < P
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34032,2053438,14.0,SE Snta Clara Cnty,709.0,189466,709,No Household,1.306218,1.300471,11.351594,...,4.359396,19.106987,19.093683,5.201439e+02,5.162853e+02,472759322.0,469252204.0,3.247562e+10,3.237573e+10,NP > P
34033,2053472,14.0,SE Snta Clara Cnty,702.0,142028,4220,NP > P,1.288142,1.310916,11.522886,...,4.191819,18.347773,18.355513,4.978136e+02,5.011409e+02,282143988.0,284029800.0,4.288175e+10,4.261866e+10,NP < P
34034,2053524,14.0,SE Snta Clara Cnty,698.0,186270,20436,No Household,1.330001,1.346698,11.712604,...,4.730552,19.526621,19.510529,1.763221e+02,1.681416e+02,70332940.0,67069826.0,4.884882e+10,4.863373e+10,NP > P
34035,2053541,14.0,SE Snta Clara Cnty,702.0,180531,11203,NP < P,1.321938,1.309023,11.630717,...,4.815314,19.001778,19.012098,2.225239e+03,2.236911e+03,341057420.0,342846294.0,4.408146e+10,4.381858e+10,NP > P
34036,2053562,14.0,SE Snta Clara Cnty,700.0,190469,10533,No Household,1.290606,1.307080,11.482477,...,5.017259,19.001778,19.012098,9.527109e+02,9.663500e+02,334306466.0,339092440.0,4.672092e+10,4.649001e+10,NP < P

############ alt_feasibility results
['parcel_id', 'superdistrict_NP', 'total_cost_NP', 'building_revenue_NP', 'max_profit_far_NP', 'max_profit_NP', 'residential_sales_price_sqft_NP', 'residential_sqft_NP', 'superdistrict_P', 'total_cost_P', 'building_revenue_P', 'max_profit_far_P', 'max_profit_P', 'residential_sales_price_sqft_P', 'residential_sqft_P', 'max_profit_chk']
Both profitable        3958
Both not profitable    3593
only allow in P          81
P profitable only        73
only allow in NP         72
NP profitable only       66
not allow                36
Name: max_profit_chk, dtype: int64
compare total_cost: not identical between NP and P
compare building_revenue: not identical between NP and P
compare max_profit_far: not identical between NP and P
compare max_profit: not identical between NP and P
compare residential_sales_price_sqft: not identical between NP and P
compare residential_sqft: not identical between NP and P

,parcel_id,SUPERD,SD_NAME,TAZ,node_id,tmnode_id,2050_hh_growth_diff,building_revenue_NP,building_revenue_P,max_profit_NP,max_profit_P,max_profit_far_NP,max_profit_far_P,residential_sales_price_sqft_NP,residential_sales_price_sqft_P,residential_sqft_NP,residential_sqft_P,total_cost_NP,total_cost_P,max_profit_chk
0,1711264,14.0,SE Snta Clara Cnty,710.0,168905,5427,NP > P,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1711387,14.0,SE Snta Clara Cnty,710.0,174035,5427,No Household,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1711391,14.0,SE Snta Clara Cnty,710.0,155140,4151,No Household,1.345338e+07,1.340763e+07,1.548022e+06,1.512095e+06,2.75,2.75,344.846985,343.674377,48765.764319,48765.764319,1.190536e+07,1.189554e+07,Both profitable
3,1717862,14.0,SE Snta Clara Cnty,705.0,303519,4151,No Household,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1720010,14.0,SE Snta Clara Cnty,700.0,310217,10534,No Household,1.070470e+06,1.085648e+06,-3.903630e+05,-3.730473e+05,1.50,1.50,396.907532,402.535095,2697.026187,2697.026187,1.460833e+06,1.458695e+06,Both not profitable
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34032,2053438,14.0,SE Snta Clara Cnty,709.0,189466,709,No Household,4.790105e+07,4.783867e+07,1.187968e+07,1.181902e+07,1.50,1.50,355.436340,354.973480,134766.892813,134766.892813,3.602137e+07,3.601966e+07,Both profitable
34033,2053472,14.0,SE Snta Clara Cnty,702.0,142028,4220,NP > P,8.190890e+06,8.298558e+06,3.067309e+06,3.174977e+06,1.50,1.50,417.972565,423.466736,19596.717642,19596.717642,5.123581e+06,5.123581e+06,Both profitable
34034,2053524,14.0,SE Snta Clara Cnty,698.0,186270,20436,No Household,1.226468e+06,1.215933e+06,2.781980e+05,2.676624e+05,1.50,1.50,338.153931,335.249115,3626.952983,3626.952983,9.482704e+05,9.482704e+05,Both profitable
34035,2053541,14.0,SE Snta Clara Cnty,702.0,180531,11203,NP < P,7.657294e+07,7.650836e+07,2.818988e+07,2.812708e+07,1.50,1.50,426.087555,425.728241,179711.743206,179711.743206,4.838306e+07,4.838129e+07,Both profitable
34036,2053562,14.0,SE Snta Clara Cnty,700.0,190469,10533,No Household,2.436623e+07,2.509685e+07,8.460028e+06,9.190649e+06,1.80,1.80,439.156036,452.324127,55484.215611,55484.215611,1.590620e+07,1.590620e+07,Both profitable

############ residential_developer model result
['parcel_id', 'residential_units_NP', 'residential_units_P']

,parcel_id,2050_hh_growth_diff,node_id,tmnode_id,TAZ,SUPERD,SD_NAME,residential_units_NP,residential_units_P,residential_units_comp
0,1711264,NP > P,168905,5427,710.0,14.0,SE Snta Clara Cnty,0.0,0.0,no development
1,1711387,No Household,174035,5427,710.0,14.0,SE Snta Clara Cnty,0.0,0.0,no development
2,1711391,No Household,155140,4151,710.0,14.0,SE Snta Clara Cnty,0.0,0.0,no development
3,1717862,No Household,303519,4151,705.0,14.0,SE Snta Clara Cnty,0.0,0.0,no development
4,1720010,No Household,310217,10534,700.0,14.0,SE Snta Clara Cnty,0.0,0.0,no development
...,...,...,...,...,...,...,...,...,...,...
34032,2053438,No Household,189466,709,709.0,14.0,SE Snta Clara Cnty,0.0,0.0,no development
34033,2053472,NP > P,142028,4220,702.0,14.0,SE Snta Clara Cnty,0.0,0.0,no development
34034,2053524,No Household,186270,20436,698.0,14.0,SE Snta Clara Cnty,0.0,0.0,no development
34035,2053541,NP < P,180531,11203,702.0,14.0,SE Snta Clara Cnty,0.0,0.0,no development
34036,2053562,No Household,190469,10533,700.0,14.0,SE Snta Clara Cnty,0.0,0.0,no development

############ hedonic model results ("rsh_simulate", "rrh_simulate")
compare unit_res_price_min: not identical between NP and P
compare unit_res_price_max: not identical between NP and P
compare unit_res_price_mean: not identical between NP and P
compare unit_res_rent_min: not identical between NP and P
compare unit_res_rent_max: not identical between NP and P
compare unit_res_rent_mean: not identical between NP and P
compare unit_cnt: not identical between NP and P

C:\ProgramData\Anaconda3\envs\geo_env\lib\site-packages\pandas\core\indexing.py:1667: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = value
C:\ProgramData\Anaconda3\envs\geo_env\lib\site-packages\pandas\core\indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

,parcel_id,SUPERD,SD_NAME,TAZ,node_id,tmnode_id,2050_hh_growth_diff,unit_cnt_NP,unit_cnt_P,unit_res_price_max_NP,...,unit_res_price_min_NP,unit_res_price_min_P,unit_res_rent_max_NP,unit_res_rent_max_P,unit_res_rent_mean_NP,unit_res_rent_mean_P,unit_res_rent_min_NP,unit_res_rent_min_P,unit_res_price_mean_comp,unit_res_rent_mean_comp
0,1711264,14.0,SE Snta Clara Cnty,710.0,168905,5427,NP > P,1.0,1.0,315.764896,...,315.764896,311.696159,1.808872,1.806888,1.808872,1.806888,1.808872,1.806888,NP > P,NP > P
1,1711387,14.0,SE Snta Clara Cnty,710.0,174035,5427,No Household,1.0,1.0,200.000000,...,200.000000,200.000000,1.838572,1.836606,1.838572,1.836606,1.838572,1.836606,NP = P,NP > P
2,1711391,14.0,SE Snta Clara Cnty,710.0,155140,4151,No Household,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
3,1717862,14.0,SE Snta Clara Cnty,705.0,303519,4151,No Household,1.0,1.0,200.000000,...,200.000000,200.000000,0.968084,0.964152,0.968084,0.964152,0.968084,0.964152,NP = P,NP > P
4,1720010,14.0,SE Snta Clara Cnty,700.0,310217,10534,No Household,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34032,2053438,14.0,SE Snta Clara Cnty,709.0,189466,709,No Household,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
34033,2053472,14.0,SE Snta Clara Cnty,702.0,142028,4220,NP > P,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
34034,2053524,14.0,SE Snta Clara Cnty,698.0,186270,20436,No Household,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
34035,2053541,14.0,SE Snta Clara Cnty,702.0,180531,11203,NP < P,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
34036,2053562,14.0,SE Snta Clara Cnty,700.0,190469,10533,No Household,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None

############ parcel_data and building_data output
compare zoned_du: identical between NP and P
compare zoned_du_underbuild: not identical between NP and P
compare residential_units: not identical between NP and P
compare resUnits_nondev: not identical between NP and P
compare unit_price_mean_nondev: not identical between NP and P
compare resUnits_dev: not identical between NP and P
compare unit_price_mean_dev: identical between NP and P
compare tothh: not identical between NP and P

,parcel_id,SUPERD,SD_NAME,TAZ,node_id,tmnode_id,2050_hh_growth_diff,resUnits_dev_NP,resUnits_dev_P,resUnits_nondev_NP,...,residential_units_NP,residential_units_P,tothh_NP,tothh_P,unit_price_mean_nondev_NP,unit_price_mean_nondev_P,zoned_du_underbuild_NP,zoned_du_underbuild_P,tothh_comp,totUnits_comp
0,1711264,14.0,SE Snta Clara Cnty,710.0,168905,5427,NP > P,0.0,0.0,1.0,...,1.0,1.0,1.0,1.0,527725.809565,525743.228093,5,5,NP = P,NP = P
1,1711387,14.0,SE Snta Clara Cnty,710.0,174035,5427,No Household,0.0,0.0,1.0,...,1.0,1.0,1.0,1.0,508061.642041,506204.497267,4,4,NP = P,NP = P
2,1711391,14.0,SE Snta Clara Cnty,710.0,155140,4151,No Household,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,NaN,NaN,52,52,No Household,No Housing
3,1717862,14.0,SE Snta Clara Cnty,705.0,303519,4151,No Household,0.0,0.0,1.0,...,1.0,1.0,1.0,1.0,607471.682125,576208.369303,1,1,NP = P,NP = P
4,1720010,14.0,SE Snta Clara Cnty,700.0,310217,10534,No Household,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,NaN,NaN,1,1,No Household,No Housing
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34032,2053438,14.0,SE Snta Clara Cnty,709.0,189466,709,No Household,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,NaN,NaN,155,155,No Household,No Housing
34033,2053472,14.0,SE Snta Clara Cnty,702.0,142028,4220,NP > P,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,NaN,NaN,22,22,No Household,No Housing
34034,2053524,14.0,SE Snta Clara Cnty,698.0,186270,20436,No Household,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,NaN,NaN,2,2,No Household,No Housing
34035,2053541,14.0,SE Snta Clara Cnty,702.0,180531,11203,NP < P,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,NaN,NaN,207,207,No Household,No Housing
34036,2053562,14.0,SE Snta Clara Cnty,700.0,190469,10533,No Household,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,NaN,NaN,26,26,No Household,No Housing

################################  2035
############ nodes and tmnode attributes ("neighborhood_vars", "regional_vars", "price_vars")
34037
compare retail_sqft_3000: not identical between NP and P
compare sum_income_3000: not identical between NP and P
compare residential_units_500: not identical between NP and P
compare residential_units_1500: not identical between NP and P
compare office_1500: not identical between NP and P
compare retail_1500: not identical between NP and P
compare industrial_1500: not identical between NP and P
compare ave_sqft_per_unit: not identical between NP and P
compare ave_lot_size_per_unit: not identical between NP and P
compare population: not identical between NP and P
compare poor: not identical between NP and P
compare renters: identical between NP and P
compare sfdu: not identical between NP and P
compare ave_hhsize: not identical between NP and P
compare jobs_500: not identical between NP and P
compare jobs_1500: not identical between NP and P
compare ave_income_1500: not identical between NP and P
compare ave_income_500: not identical between NP and P
compare retail_ratio: not identical between NP and P
compare residential: not identical between NP and P
compare retail: not identical between NP and P
compare office: not identical between NP and P
compare industrial: not identical between NP and P
compare residential_units_45: not identical between NP and P
compare jobs_15: not identical between NP and P
compare jobs_45: not identical between NP and P
compare sum_income_40: not identical between NP and P
compare embarcadero: identical between NP and P
compare pacheights: identical between NP and P
compare stanford: identical between NP and P

C:\ProgramData\Anaconda3\envs\geo_env\lib\site-packages\pandas\core\indexing.py:1667: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = value
C:\ProgramData\Anaconda3\envs\geo_env\lib\site-packages\pandas\core\indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

,parcel_id,SUPERD,SD_NAME,TAZ,node_id,tmnode_id,2050_hh_growth_diff,ave_hhsize_NP,ave_hhsize_P,ave_income_1500_NP,...,retail_ratio_P,retail_sqft_3000_NP,retail_sqft_3000_P,sfdu_NP,sfdu_P,sum_income_3000_NP,sum_income_3000_P,sum_income_40_NP,sum_income_40_P,residential_price_comp
0,1711264,14.0,SE Snta Clara Cnty,710.0,168905,5427,NP > P,1.315245,1.304522,11.496603,...,8.227083e+02,623566.136804,623566.136804,6.376077,6.376077,521185982.0,513013052.0,3.116585e+10,3.107085e+10,NP > P
1,1711387,14.0,SE Snta Clara Cnty,710.0,174035,5427,No Household,1.313119,1.308387,11.492733,...,8.218053e+02,634804.564344,634804.564344,6.548649,6.548649,529134732.0,521685782.0,3.116585e+10,3.107085e+10,NP > P
2,1711391,14.0,SE Snta Clara Cnty,710.0,155140,4151,No Household,1.314001,1.307138,11.492774,...,9.654072e+02,549161.271429,549161.271429,6.270605,6.270605,537936672.0,530164266.0,2.983684e+10,2.974863e+10,NP > P
3,1717862,14.0,SE Snta Clara Cnty,705.0,303519,4151,No Household,1.330898,1.306085,11.652696,...,9.994791e+07,0.000000,0.000000,5.890595,5.890595,101822182.0,99947914.0,2.983684e+10,2.974863e+10,NP = P
4,1720010,14.0,SE Snta Clara Cnty,700.0,310217,10534,No Household,1.206681,1.162532,10.950824,...,3.930721e+02,520711.931021,520711.931021,3.004926,3.004926,204435900.0,204677310.0,4.622849e+10,4.606893e+10,NP < P
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34032,2053438,14.0,SE Snta Clara Cnty,709.0,189466,709,No Household,1.289103,1.296923,11.314853,...,5.280395e+02,908900.944899,903671.470382,6.334990,6.334990,486284578.0,477174246.0,3.355606e+10,3.351832e+10,NP > P
34033,2053472,14.0,SE Snta Clara Cnty,702.0,142028,4220,NP > P,1.268728,1.282730,11.500863,...,4.842928e+02,566766.361206,566766.361206,5.079836,5.079836,274664806.0,274480866.0,4.462184e+10,4.445361e+10,NP < P
34034,2053524,14.0,SE Snta Clara Cnty,698.0,186270,20436,No Household,1.314787,1.323732,11.698583,...,1.419360e+02,551939.459950,551939.459950,5.782192,5.782192,77935740.0,78340078.0,5.055905e+10,5.045624e+10,NP > P
34035,2053541,14.0,SE Snta Clara Cnty,702.0,180531,11203,NP < P,1.295502,1.314278,11.651826,...,2.028697e+03,157676.292367,158118.046609,5.429827,5.429827,327408750.0,320773628.0,4.581123e+10,4.564773e+10,NP > P
34036,2053562,14.0,SE Snta Clara Cnty,700.0,190469,10533,No Household,1.276264,1.310131,11.461643,...,9.488423e+02,354889.408276,355823.503221,6.248973,6.248973,332335932.0,337620396.0,4.850932e+10,4.834998e+10,NP > P

############ alt_feasibility results
['parcel_id', 'superdistrict_NP', 'total_cost_NP', 'building_revenue_NP', 'max_profit_far_NP', 'max_profit_NP', 'residential_sales_price_sqft_NP', 'residential_sqft_NP', 'superdistrict_P', 'total_cost_P', 'building_revenue_P', 'max_profit_far_P', 'max_profit_P', 'residential_sales_price_sqft_P', 'residential_sqft_P', 'max_profit_chk']
Both not profitable    3953
Both profitable        3694
only allow in P         130
only allow in NP        123
P profitable only        58
NP profitable only       42
not allow                36
Name: max_profit_chk, dtype: int64
compare total_cost: not identical between NP and P
compare building_revenue: not identical between NP and P
compare max_profit_far: not identical between NP and P
compare max_profit: not identical between NP and P
compare residential_sales_price_sqft: not identical between NP and P
compare residential_sqft: not identical between NP and P

,parcel_id,SUPERD,SD_NAME,TAZ,node_id,tmnode_id,2050_hh_growth_diff,building_revenue_NP,building_revenue_P,max_profit_NP,max_profit_P,max_profit_far_NP,max_profit_far_P,residential_sales_price_sqft_NP,residential_sales_price_sqft_P,residential_sqft_NP,residential_sqft_P,total_cost_NP,total_cost_P,max_profit_chk
0,1711264,14.0,SE Snta Clara Cnty,710.0,168905,5427,NP > P,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1711387,14.0,SE Snta Clara Cnty,710.0,174035,5427,No Household,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1711391,14.0,SE Snta Clara Cnty,710.0,155140,4151,No Household,1.342639e+07,1.338427e+07,1.586300e+06,1.531199e+06,2.75,2.75,344.155029,343.075348,48765.764319,48765.764319,1.184009e+07,1.185307e+07,Both profitable
3,1717862,14.0,SE Snta Clara Cnty,705.0,303519,4151,No Household,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1720010,14.0,SE Snta Clara Cnty,700.0,310217,10534,No Household,1.036291e+06,1.056768e+06,-4.203294e+05,-3.813526e+05,1.50,1.50,384.234650,391.827240,2697.026187,2697.026187,1.456620e+06,1.438121e+06,Both not profitable
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34032,2053438,14.0,SE Snta Clara Cnty,709.0,189466,709,No Household,4.789410e+07,4.770493e+07,1.187292e+07,1.168894e+07,1.50,1.50,355.384735,353.981049,134766.892813,134766.892813,3.602118e+07,3.601599e+07,Both profitable
34033,2053472,14.0,SE Snta Clara Cnty,702.0,142028,4220,NP > P,8.077181e+06,8.081728e+06,2.953600e+06,2.958146e+06,1.50,1.50,412.170105,412.402100,19596.717642,19596.717642,5.123581e+06,5.123581e+06,Both profitable
34034,2053524,14.0,SE Snta Clara Cnty,698.0,186270,20436,No Household,1.101645e+06,1.098787e+06,1.533748e+05,1.505168e+05,1.50,1.50,303.738495,302.950500,3626.952983,3626.952983,9.482704e+05,9.482704e+05,Both profitable
34035,2053541,14.0,SE Snta Clara Cnty,702.0,180531,11203,NP < P,7.333088e+07,7.327686e+07,2.503681e+07,2.498428e+07,1.50,1.50,408.047211,407.746643,179711.743206,179711.743206,4.829406e+07,4.829258e+07,Both profitable
34036,2053562,14.0,SE Snta Clara Cnty,700.0,190469,10533,No Household,2.358551e+07,2.357066e+07,7.679310e+06,7.664464e+06,1.80,1.80,425.085052,424.817474,55484.215611,55484.215611,1.590620e+07,1.590620e+07,Both profitable

############ residential_developer model result
['parcel_id', 'residential_units_NP', 'residential_units_P']

,parcel_id,2050_hh_growth_diff,node_id,tmnode_id,TAZ,SUPERD,SD_NAME,residential_units_NP,residential_units_P,residential_units_comp
0,1711264,NP > P,168905,5427,710.0,14.0,SE Snta Clara Cnty,0.0,0.0,no development
1,1711387,No Household,174035,5427,710.0,14.0,SE Snta Clara Cnty,0.0,0.0,no development
2,1711391,No Household,155140,4151,710.0,14.0,SE Snta Clara Cnty,0.0,0.0,no development
3,1717862,No Household,303519,4151,705.0,14.0,SE Snta Clara Cnty,0.0,0.0,no development
4,1720010,No Household,310217,10534,700.0,14.0,SE Snta Clara Cnty,0.0,0.0,no development
...,...,...,...,...,...,...,...,...,...,...
34032,2053438,No Household,189466,709,709.0,14.0,SE Snta Clara Cnty,0.0,0.0,no development
34033,2053472,NP > P,142028,4220,702.0,14.0,SE Snta Clara Cnty,0.0,0.0,no development
34034,2053524,No Household,186270,20436,698.0,14.0,SE Snta Clara Cnty,0.0,0.0,no development
34035,2053541,NP < P,180531,11203,702.0,14.0,SE Snta Clara Cnty,0.0,0.0,no development
34036,2053562,No Household,190469,10533,700.0,14.0,SE Snta Clara Cnty,0.0,0.0,no development

############ hedonic model results ("rsh_simulate", "rrh_simulate")
compare unit_res_price_min: not identical between NP and P
compare unit_res_price_max: not identical between NP and P
compare unit_res_price_mean: not identical between NP and P
compare unit_res_rent_min: not identical between NP and P
compare unit_res_rent_max: not identical between NP and P
compare unit_res_rent_mean: not identical between NP and P
compare unit_cnt: not identical between NP and P

C:\ProgramData\Anaconda3\envs\geo_env\lib\site-packages\pandas\core\indexing.py:1667: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = value
C:\ProgramData\Anaconda3\envs\geo_env\lib\site-packages\pandas\core\indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

,parcel_id,SUPERD,SD_NAME,TAZ,node_id,tmnode_id,2050_hh_growth_diff,unit_cnt_NP,unit_cnt_P,unit_res_price_max_NP,...,unit_res_price_min_NP,unit_res_price_min_P,unit_res_rent_max_NP,unit_res_rent_max_P,unit_res_rent_mean_NP,unit_res_rent_mean_P,unit_res_rent_min_NP,unit_res_rent_min_P,unit_res_price_mean_comp,unit_res_rent_mean_comp
0,1711264,14.0,SE Snta Clara Cnty,710.0,168905,5427,NP > P,1.0,1.0,302.156659,...,302.156659,315.760722,1.870085,1.869737,1.870085,1.869737,1.870085,1.869737,NP < P,NP > P
1,1711387,14.0,SE Snta Clara Cnty,710.0,174035,5427,No Household,1.0,1.0,200.000000,...,200.000000,200.000000,1.899970,1.899788,1.899970,1.899788,1.899970,1.899788,NP = P,NP > P
2,1711391,14.0,SE Snta Clara Cnty,710.0,155140,4151,No Household,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
3,1717862,14.0,SE Snta Clara Cnty,705.0,303519,4151,No Household,1.0,1.0,203.231058,...,203.231058,200.000000,1.031082,1.024511,1.031082,1.024511,1.031082,1.024511,NP > P,NP > P
4,1720010,14.0,SE Snta Clara Cnty,700.0,310217,10534,No Household,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34032,2053438,14.0,SE Snta Clara Cnty,709.0,189466,709,No Household,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
34033,2053472,14.0,SE Snta Clara Cnty,702.0,142028,4220,NP > P,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
34034,2053524,14.0,SE Snta Clara Cnty,698.0,186270,20436,No Household,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
34035,2053541,14.0,SE Snta Clara Cnty,702.0,180531,11203,NP < P,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
34036,2053562,14.0,SE Snta Clara Cnty,700.0,190469,10533,No Household,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None

############ parcel_data and building_data output
compare zoned_du: identical between NP and P
compare zoned_du_underbuild: not identical between NP and P
compare residential_units: not identical between NP and P
compare resUnits_nondev: not identical between NP and P
compare unit_price_mean_nondev: not identical between NP and P
compare resUnits_dev: not identical between NP and P
compare unit_price_mean_dev: not identical between NP and P
compare tothh: not identical between NP and P

,parcel_id,SUPERD,SD_NAME,TAZ,node_id,tmnode_id,2050_hh_growth_diff,resUnits_dev_NP,resUnits_dev_P,resUnits_nondev_NP,...,tothh_NP,tothh_P,unit_price_mean_dev_NP,unit_price_mean_dev_P,unit_price_mean_nondev_NP,unit_price_mean_nondev_P,zoned_du_underbuild_NP,zoned_du_underbuild_P,tothh_comp,totUnits_comp
0,1711264,14.0,SE Snta Clara Cnty,710.0,168905,5427,NP > P,0.0,0.0,1.0,...,0.0,1.0,NaN,NaN,535826.71554,533648.001973,5,5,NP < P,NP = P
1,1711387,14.0,SE Snta Clara Cnty,710.0,174035,5427,No Household,0.0,0.0,1.0,...,1.0,1.0,NaN,NaN,515511.43759,513429.852180,4,4,NP = P,NP = P
2,1711391,14.0,SE Snta Clara Cnty,710.0,155140,4151,No Household,0.0,0.0,0.0,...,0.0,0.0,NaN,NaN,NaN,NaN,52,52,No Household,No Housing
3,1717862,14.0,SE Snta Clara Cnty,705.0,303519,4151,No Household,0.0,0.0,1.0,...,1.0,1.0,NaN,NaN,518800.00000,518800.000000,1,1,NP = P,NP = P
4,1720010,14.0,SE Snta Clara Cnty,700.0,310217,10534,No Household,0.0,0.0,0.0,...,0.0,0.0,NaN,NaN,NaN,NaN,1,1,No Household,No Housing
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34032,2053438,14.0,SE Snta Clara Cnty,709.0,189466,709,No Household,0.0,0.0,0.0,...,0.0,0.0,NaN,NaN,NaN,NaN,155,155,No Household,No Housing
34033,2053472,14.0,SE Snta Clara Cnty,702.0,142028,4220,NP > P,0.0,0.0,0.0,...,0.0,0.0,NaN,NaN,NaN,NaN,22,22,No Household,No Housing
34034,2053524,14.0,SE Snta Clara Cnty,698.0,186270,20436,No Household,0.0,0.0,0.0,...,0.0,0.0,NaN,NaN,NaN,NaN,2,2,No Household,No Housing
34035,2053541,14.0,SE Snta Clara Cnty,702.0,180531,11203,NP < P,0.0,0.0,0.0,...,0.0,0.0,NaN,NaN,NaN,NaN,207,207,No Household,No Housing
34036,2053562,14.0,SE Snta Clara Cnty,700.0,190469,10533,No Household,0.0,0.0,0.0,...,0.0,0.0,NaN,NaN,NaN,NaN,26,26,No Household,No Housing

################################  2040
############ nodes and tmnode attributes ("neighborhood_vars", "regional_vars", "price_vars")
34037
compare retail_sqft_3000: not identical between NP and P
compare sum_income_3000: not identical between NP and P
compare residential_units_500: not identical between NP and P
compare residential_units_1500: not identical between NP and P
compare office_1500: not identical between NP and P
compare retail_1500: not identical between NP and P
compare industrial_1500: not identical between NP and P
compare ave_sqft_per_unit: not identical between NP and P
compare ave_lot_size_per_unit: not identical between NP and P
compare population: not identical between NP and P
compare poor: not identical between NP and P
compare renters: identical between NP and P
compare sfdu: not identical between NP and P
compare ave_hhsize: not identical between NP and P
compare jobs_500: not identical between NP and P
compare jobs_1500: not identical between NP and P
compare ave_income_1500: not identical between NP and P
compare ave_income_500: not identical between NP and P
compare retail_ratio: not identical between NP and P
compare residential: not identical between NP and P
compare retail: not identical between NP and P
compare office: not identical between NP and P
compare industrial: not identical between NP and P
compare residential_units_45: not identical between NP and P
compare jobs_15: not identical between NP and P
compare jobs_45: not identical between NP and P
compare sum_income_40: not identical between NP and P
compare embarcadero: identical between NP and P
compare pacheights: identical between NP and P
compare stanford: identical between NP and P

C:\ProgramData\Anaconda3\envs\geo_env\lib\site-packages\pandas\core\indexing.py:1667: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = value
C:\ProgramData\Anaconda3\envs\geo_env\lib\site-packages\pandas\core\indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

,parcel_id,SUPERD,SD_NAME,TAZ,node_id,tmnode_id,2050_hh_growth_diff,ave_hhsize_NP,ave_hhsize_P,ave_income_1500_NP,...,retail_ratio_P,retail_sqft_3000_NP,retail_sqft_3000_P,sfdu_NP,sfdu_P,sum_income_3000_NP,sum_income_3000_P,sum_income_40_NP,sum_income_40_P,residential_price_comp
0,1711264,14.0,SE Snta Clara Cnty,710.0,168905,5427,NP > P,1.309094,1.299445,11.494772,...,8.366176e+02,623566.136804,647011.816065,6.376077,6.376077,529797622.0,541301460.0,4.029058e+10,4.101321e+10,NP > P
1,1711387,14.0,SE Snta Clara Cnty,710.0,174035,5427,No Household,1.310273,1.302630,11.496603,...,8.290136e+02,634804.564344,660844.243996,6.548649,6.548649,537216652.0,547848880.0,4.029058e+10,4.101321e+10,NP > P
2,1711391,14.0,SE Snta Clara Cnty,710.0,155140,4151,No Household,1.306500,1.300887,11.482477,...,9.771044e+02,549161.271429,570748.037750,6.270605,6.270605,549303276.0,557680394.0,3.870247e+10,3.929273e+10,NP > P
3,1717862,14.0,SE Snta Clara Cnty,705.0,303519,4151,No Household,1.307296,1.316049,11.626263,...,1.043217e+08,0.000000,0.000000,5.890595,5.890595,106417798.0,104321736.0,3.870247e+10,3.929273e+10,NP = P
4,1720010,14.0,SE Snta Clara Cnty,700.0,310217,10534,No Household,1.247615,1.207974,11.060856,...,4.586572e+02,510289.190586,517986.286278,3.004926,3.004926,219055490.0,237578132.0,5.777363e+10,5.859848e+10,NP < P
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34032,2053438,14.0,SE Snta Clara Cnty,709.0,189466,709,No Household,1.269158,1.282061,11.326608,...,5.621556e+02,908900.944899,906975.909493,6.334990,6.334990,497138136.0,509861562.0,4.326873e+10,4.418468e+10,NP > P
34033,2053472,14.0,SE Snta Clara Cnty,702.0,142028,4220,NP > P,1.266015,1.302226,11.493753,...,5.559143e+02,556103.535823,563951.809269,5.079836,5.079836,294976514.0,313508880.0,5.592864e+10,5.672655e+10,NP < P
34034,2053524,14.0,SE Snta Clara Cnty,698.0,186270,20436,No Household,1.311481,1.334138,11.695255,...,1.603406e+02,549492.587455,554968.275868,5.782192,5.782192,83662590.0,88983948.0,6.271019e+10,6.359613e+10,NP > P
34035,2053541,14.0,SE Snta Clara Cnty,702.0,180531,11203,NP < P,1.320991,1.303235,11.676073,...,2.294560e+03,157486.977380,157824.159028,5.429827,5.429827,394574050.0,362136926.0,5.727710e+10,5.813549e+10,NP > P
34036,2053562,14.0,SE Snta Clara Cnty,700.0,190469,10533,No Household,1.277901,1.310878,11.492733,...,1.131164e+03,349730.518380,353602.746320,6.248973,6.248973,364164634.0,399982562.0,6.046192e+10,6.126641e+10,NP < P

############ alt_feasibility results
['parcel_id', 'superdistrict_NP', 'total_cost_NP', 'building_revenue_NP', 'max_profit_far_NP', 'max_profit_NP', 'residential_sales_price_sqft_NP', 'residential_sqft_NP', 'superdistrict_P', 'total_cost_P', 'building_revenue_P', 'max_profit_far_P', 'max_profit_P', 'residential_sales_price_sqft_P', 'residential_sqft_P', 'max_profit_chk']
Both profitable        3834
Both not profitable    3748
only allow in P         193
only allow in NP        181
P profitable only        79
NP profitable only       47
not allow                36
Name: max_profit_chk, dtype: int64
compare total_cost: not identical between NP and P
compare building_revenue: not identical between NP and P
compare max_profit_far: not identical between NP and P
compare max_profit: not identical between NP and P
compare residential_sales_price_sqft: not identical between NP and P
compare residential_sqft: not identical between NP and P

,parcel_id,SUPERD,SD_NAME,TAZ,node_id,tmnode_id,2050_hh_growth_diff,building_revenue_NP,building_revenue_P,max_profit_NP,max_profit_P,max_profit_far_NP,max_profit_far_P,residential_sales_price_sqft_NP,residential_sales_price_sqft_P,residential_sqft_NP,residential_sqft_P,total_cost_NP,total_cost_P,max_profit_chk
0,1711264,14.0,SE Snta Clara Cnty,710.0,168905,5427,NP > P,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1711387,14.0,SE Snta Clara Cnty,710.0,174035,5427,No Household,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1711391,14.0,SE Snta Clara Cnty,710.0,155140,4151,No Household,1.383604e+07,1.381192e+07,1.984273e+06,1.856916e+06,2.75,2.75,354.655609,354.037415,48765.764319,48765.764319,1.185177e+07,1.195501e+07,Both profitable
3,1717862,14.0,SE Snta Clara Cnty,705.0,303519,4151,No Household,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1720010,14.0,SE Snta Clara Cnty,700.0,310217,10534,No Household,1.099833e+06,1.117279e+06,-3.351233e+05,-3.068979e+05,1.50,1.50,407.794861,414.263245,2697.026187,2697.026187,1.434957e+06,1.424177e+06,Both not profitable
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34032,2053438,14.0,SE Snta Clara Cnty,709.0,189466,709,No Household,4.932138e+07,4.917810e+07,1.326102e+07,1.312167e+07,1.50,1.50,365.975464,364.912292,134766.892813,134766.892813,3.606036e+07,3.605643e+07,Both profitable
34033,2053472,14.0,SE Snta Clara Cnty,702.0,142028,4220,NP > P,8.304059e+06,8.484408e+06,3.180478e+06,3.360826e+06,1.50,1.50,423.747437,432.950439,19596.717642,19596.717642,5.123581e+06,5.123581e+06,Both profitable
34034,2053524,14.0,SE Snta Clara Cnty,698.0,186270,20436,No Household,1.108129e+06,1.081853e+06,1.598588e+05,1.335825e+05,1.50,1.50,305.526215,298.281494,3626.952983,3626.952983,9.482704e+05,9.482704e+05,Both profitable
34035,2053541,14.0,SE Snta Clara Cnty,702.0,180531,11203,NP < P,7.675927e+07,7.531063e+07,2.837110e+07,2.696222e+07,1.50,1.50,427.124420,419.063477,179711.743206,179711.743206,4.838818e+07,4.834841e+07,Both profitable
34036,2053562,14.0,SE Snta Clara Cnty,700.0,190469,10533,No Household,2.417499e+07,2.465764e+07,8.268789e+06,8.751438e+06,1.80,1.80,435.709320,444.408173,55484.215611,55484.215611,1.590620e+07,1.590620e+07,Both profitable

############ residential_developer model result
['parcel_id', 'residential_units_NP', 'residential_units_P']

,parcel_id,2050_hh_growth_diff,node_id,tmnode_id,TAZ,SUPERD,SD_NAME,residential_units_NP,residential_units_P,residential_units_comp
0,1711264,NP > P,168905,5427,710.0,14.0,SE Snta Clara Cnty,0.0,0.0,no development
1,1711387,No Household,174035,5427,710.0,14.0,SE Snta Clara Cnty,0.0,0.0,no development
2,1711391,No Household,155140,4151,710.0,14.0,SE Snta Clara Cnty,0.0,0.0,no development
3,1717862,No Household,303519,4151,705.0,14.0,SE Snta Clara Cnty,0.0,0.0,no development
4,1720010,No Household,310217,10534,700.0,14.0,SE Snta Clara Cnty,0.0,0.0,no development
...,...,...,...,...,...,...,...,...,...,...
34032,2053438,No Household,189466,709,709.0,14.0,SE Snta Clara Cnty,0.0,0.0,no development
34033,2053472,NP > P,142028,4220,702.0,14.0,SE Snta Clara Cnty,0.0,0.0,no development
34034,2053524,No Household,186270,20436,698.0,14.0,SE Snta Clara Cnty,0.0,0.0,no development
34035,2053541,NP < P,180531,11203,702.0,14.0,SE Snta Clara Cnty,0.0,180.0,NP < P
34036,2053562,No Household,190469,10533,700.0,14.0,SE Snta Clara Cnty,0.0,0.0,no development

############ hedonic model results ("rsh_simulate", "rrh_simulate")
compare unit_res_price_min: not identical between NP and P
compare unit_res_price_max: not identical between NP and P
compare unit_res_price_mean: not identical between NP and P
compare unit_res_rent_min: not identical between NP and P
compare unit_res_rent_max: not identical between NP and P
compare unit_res_rent_mean: not identical between NP and P
compare unit_cnt: not identical between NP and P

C:\ProgramData\Anaconda3\envs\geo_env\lib\site-packages\pandas\core\indexing.py:1667: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = value
C:\ProgramData\Anaconda3\envs\geo_env\lib\site-packages\pandas\core\indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

,parcel_id,SUPERD,SD_NAME,TAZ,node_id,tmnode_id,2050_hh_growth_diff,unit_cnt_NP,unit_cnt_P,unit_res_price_max_NP,...,unit_res_price_min_NP,unit_res_price_min_P,unit_res_rent_max_NP,unit_res_rent_max_P,unit_res_rent_mean_NP,unit_res_rent_mean_P,unit_res_rent_min_NP,unit_res_rent_min_P,unit_res_price_mean_comp,unit_res_rent_mean_comp
0,1711264,14.0,SE Snta Clara Cnty,710.0,168905,5427,NP > P,1.0,1.0,301.482504,...,301.482504,317.699924,1.895974,1.902907,1.895974,1.902907,1.895974,1.902907,NP < P,NP < P
1,1711387,14.0,SE Snta Clara Cnty,710.0,174035,5427,No Household,1.0,1.0,200.000000,...,200.000000,200.000000,1.926107,1.936194,1.926107,1.936194,1.926107,1.936194,NP = P,NP < P
2,1711391,14.0,SE Snta Clara Cnty,710.0,155140,4151,No Household,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
3,1717862,14.0,SE Snta Clara Cnty,705.0,303519,4151,No Household,1.0,1.0,200.000000,...,200.000000,200.000000,1.055967,1.051380,1.055967,1.051380,1.055967,1.051380,NP = P,NP > P
4,1720010,14.0,SE Snta Clara Cnty,700.0,310217,10534,No Household,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34032,2053438,14.0,SE Snta Clara Cnty,709.0,189466,709,No Household,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
34033,2053472,14.0,SE Snta Clara Cnty,702.0,142028,4220,NP > P,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
34034,2053524,14.0,SE Snta Clara Cnty,698.0,186270,20436,No Household,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
34035,2053541,14.0,SE Snta Clara Cnty,702.0,180531,11203,NP < P,NaN,180.0,NaN,...,NaN,200.000000,NaN,2.328233,NaN,2.328233,NaN,2.328233,None,None
34036,2053562,14.0,SE Snta Clara Cnty,700.0,190469,10533,No Household,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None

############ parcel_data and building_data output
compare zoned_du: identical between NP and P
compare zoned_du_underbuild: not identical between NP and P
compare residential_units: not identical between NP and P
compare resUnits_nondev: not identical between NP and P
compare unit_price_mean_nondev: not identical between NP and P
compare resUnits_dev: not identical between NP and P
compare unit_price_mean_dev: not identical between NP and P
compare tothh: not identical between NP and P

,parcel_id,SUPERD,SD_NAME,TAZ,node_id,tmnode_id,2050_hh_growth_diff,resUnits_dev_NP,resUnits_dev_P,resUnits_nondev_NP,...,tothh_NP,tothh_P,unit_price_mean_dev_NP,unit_price_mean_dev_P,unit_price_mean_nondev_NP,unit_price_mean_nondev_P,zoned_du_underbuild_NP,zoned_du_underbuild_P,tothh_comp,totUnits_comp
0,1711264,14.0,SE Snta Clara Cnty,710.0,168905,5427,NP > P,0.0,0.0,1.0,...,1.0,0.0,NaN,NaN,551336.963184,550430.281453,5,5,NP > P,NP = P
1,1711387,14.0,SE Snta Clara Cnty,710.0,174035,5427,No Household,0.0,0.0,1.0,...,1.0,1.0,NaN,NaN,530204.971787,529380.999209,4,4,NP = P,NP = P
2,1711391,14.0,SE Snta Clara Cnty,710.0,155140,4151,No Household,0.0,0.0,0.0,...,0.0,0.0,NaN,NaN,NaN,NaN,52,52,No Household,No Housing
3,1717862,14.0,SE Snta Clara Cnty,705.0,303519,4151,No Household,0.0,0.0,1.0,...,1.0,1.0,NaN,NaN,527181.365710,518800.000000,1,1,NP = P,NP = P
4,1720010,14.0,SE Snta Clara Cnty,700.0,310217,10534,No Household,0.0,0.0,0.0,...,0.0,0.0,NaN,NaN,NaN,NaN,1,1,No Household,No Housing
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34032,2053438,14.0,SE Snta Clara Cnty,709.0,189466,709,No Household,0.0,0.0,0.0,...,0.0,0.0,NaN,NaN,NaN,NaN,155,155,No Household,No Housing
34033,2053472,14.0,SE Snta Clara Cnty,702.0,142028,4220,NP > P,0.0,0.0,0.0,...,0.0,0.0,NaN,NaN,NaN,NaN,22,22,No Household,No Housing
34034,2053524,14.0,SE Snta Clara Cnty,698.0,186270,20436,No Household,0.0,0.0,0.0,...,0.0,0.0,NaN,NaN,NaN,NaN,2,2,No Household,No Housing
34035,2053541,14.0,SE Snta Clara Cnty,702.0,180531,11203,NP < P,0.0,180.0,0.0,...,0.0,122.0,NaN,NaN,NaN,NaN,207,0,NP < P,NP < P
34036,2053562,14.0,SE Snta Clara Cnty,700.0,190469,10533,No Household,0.0,0.0,0.0,...,0.0,0.0,NaN,NaN,NaN,NaN,26,26,No Household,No Housing

################################  2045
############ nodes and tmnode attributes ("neighborhood_vars", "regional_vars", "price_vars")
34037
compare retail_sqft_3000: not identical between NP and P
compare sum_income_3000: not identical between NP and P
compare residential_units_500: not identical between NP and P
compare residential_units_1500: not identical between NP and P
compare office_1500: not identical between NP and P
compare retail_1500: not identical between NP and P
compare industrial_1500: not identical between NP and P
compare ave_sqft_per_unit: not identical between NP and P
compare ave_lot_size_per_unit: not identical between NP and P
compare population: not identical between NP and P
compare poor: not identical between NP and P
compare renters: identical between NP and P
compare sfdu: not identical between NP and P
compare ave_hhsize: not identical between NP and P
compare jobs_500: not identical between NP and P
compare jobs_1500: not identical between NP and P
compare ave_income_1500: not identical between NP and P
compare ave_income_500: not identical between NP and P
compare retail_ratio: not identical between NP and P
compare residential: not identical between NP and P
compare retail: not identical between NP and P
compare office: not identical between NP and P
compare industrial: not identical between NP and P
compare residential_units_45: not identical between NP and P
compare jobs_15: not identical between NP and P
compare jobs_45: not identical between NP and P
compare sum_income_40: not identical between NP and P
compare embarcadero: identical between NP and P
compare pacheights: identical between NP and P
compare stanford: identical between NP and P

C:\ProgramData\Anaconda3\envs\geo_env\lib\site-packages\pandas\core\indexing.py:1667: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = value
C:\ProgramData\Anaconda3\envs\geo_env\lib\site-packages\pandas\core\indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

,parcel_id,SUPERD,SD_NAME,TAZ,node_id,tmnode_id,2050_hh_growth_diff,ave_hhsize_NP,ave_hhsize_P,ave_income_1500_NP,...,retail_ratio_P,retail_sqft_3000_NP,retail_sqft_3000_P,sfdu_NP,sfdu_P,sum_income_3000_NP,sum_income_3000_P,sum_income_40_NP,sum_income_40_P,residential_price_comp
0,1711264,14.0,SE Snta Clara Cnty,710.0,168905,5427,NP > P,1.304961,1.299127,11.512935,...,8.329149e+02,623566.136804,647011.816065,6.376077,6.376077,510420686.0,538905798.0,4.387311e+10,4.660177e+10,NP < P
1,1711387,14.0,SE Snta Clara Cnty,710.0,174035,5427,No Household,1.309380,1.302353,11.512935,...,8.290753e+02,634804.564344,660844.243996,6.548649,6.548649,517566130.0,547889638.0,4.387311e+10,4.660177e+10,NP < P
2,1711391,14.0,SE Snta Clara Cnty,710.0,155140,4151,No Household,1.306985,1.303307,11.512935,...,9.786839e+02,549161.271429,570748.037750,6.270605,6.270605,528223918.0,558581942.0,4.201975e+10,4.471896e+10,NP < P
3,1717862,14.0,SE Snta Clara Cnty,705.0,303519,4151,No Household,1.316203,1.315109,11.643962,...,9.996150e+07,0.000000,0.000000,5.890595,5.890595,98128050.0,99961498.0,4.201975e+10,4.471896e+10,NP < P
4,1720010,14.0,SE Snta Clara Cnty,700.0,310217,10534,No Household,1.248006,1.174708,11.003782,...,4.641073e+02,510289.190586,517986.286278,3.004926,3.004926,241042118.0,240401234.0,6.243928e+10,6.504523e+10,NP > P
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34032,2053438,14.0,SE Snta Clara Cnty,709.0,189466,709,No Household,1.271360,1.271071,11.279997,...,5.782986e+02,908900.944899,906975.909493,6.334990,6.334990,481554718.0,524502896.0,4.779346e+10,5.043714e+10,NP < P
34033,2053472,14.0,SE Snta Clara Cnty,702.0,142028,4220,NP > P,1.281287,1.253761,11.329015,...,5.705660e+02,556103.535823,561640.944751,5.079836,5.079836,315984338.0,320453252.0,6.059438e+10,6.323766e+10,NP < P
34034,2053524,14.0,SE Snta Clara Cnty,698.0,186270,20436,No Household,1.301405,1.334192,11.643962,...,1.776853e+02,549492.587455,554968.275868,5.782192,5.782192,99917628.0,98609728.0,6.768018e+10,7.026309e+10,NP > P
34035,2053541,14.0,SE Snta Clara Cnty,702.0,180531,11203,NP < P,1.288652,1.310195,11.587114,...,2.437048e+03,157486.977380,160497.485599,5.429827,5.429250,392207654.0,391140024.0,6.195274e+10,6.458707e+10,NP > P
34036,2053562,14.0,SE Snta Clara Cnty,700.0,190469,10533,No Household,1.263197,1.294805,11.383966,...,1.318723e+03,349730.518380,357679.920798,6.248973,6.248973,382223328.0,471680696.0,6.529550e+10,6.787214e+10,NP < P

############ alt_feasibility results
['parcel_id', 'superdistrict_NP', 'total_cost_NP', 'building_revenue_NP', 'max_profit_far_NP', 'max_profit_NP', 'residential_sales_price_sqft_NP', 'residential_sqft_NP', 'superdistrict_P', 'total_cost_P', 'building_revenue_P', 'max_profit_far_P', 'max_profit_P', 'residential_sales_price_sqft_P', 'residential_sqft_P', 'max_profit_chk']
Both profitable        3876
Both not profitable    3627
only allow in P         244
only allow in NP        231
P profitable only       107
NP profitable only       37
not allow                36
Name: max_profit_chk, dtype: int64
compare total_cost: not identical between NP and P
compare building_revenue: not identical between NP and P
compare max_profit_far: not identical between NP and P
compare max_profit: not identical between NP and P
compare residential_sales_price_sqft: not identical between NP and P
compare residential_sqft: not identical between NP and P

,parcel_id,SUPERD,SD_NAME,TAZ,node_id,tmnode_id,2050_hh_growth_diff,building_revenue_NP,building_revenue_P,max_profit_NP,max_profit_P,max_profit_far_NP,max_profit_far_P,residential_sales_price_sqft_NP,residential_sales_price_sqft_P,residential_sqft_NP,residential_sqft_P,total_cost_NP,total_cost_P,max_profit_chk
0,1711264,14.0,SE Snta Clara Cnty,710.0,168905,5427,NP > P,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1711387,14.0,SE Snta Clara Cnty,710.0,174035,5427,No Household,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1711391,14.0,SE Snta Clara Cnty,710.0,155140,4151,No Household,1.392089e+07,1.405103e+07,2.095362e+06,2.139877e+06,2.75,2.75,356.830475,360.166473,48765.764319,48765.764319,1.182553e+07,1.191116e+07,Both profitable
3,1717862,14.0,SE Snta Clara Cnty,705.0,303519,4151,No Household,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1720010,14.0,SE Snta Clara Cnty,700.0,310217,10534,No Household,1.180826e+06,1.120650e+06,-2.562858e+05,-2.994002e+05,1.50,1.50,437.825317,415.513275,2697.026187,2697.026187,1.437112e+06,1.420050e+06,Both not profitable
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34032,2053438,14.0,SE Snta Clara Cnty,709.0,189466,709,No Household,4.962095e+07,5.026715e+07,1.355237e+07,1.418083e+07,1.50,1.50,368.198395,372.993347,134766.892813,134766.892813,3.606858e+07,3.608632e+07,Both profitable
34033,2053472,14.0,SE Snta Clara Cnty,702.0,142028,4220,NP > P,8.489172e+06,8.607983e+06,3.365590e+06,3.484402e+06,1.50,1.50,433.193542,439.256348,19596.717642,19596.717642,5.123581e+06,5.123581e+06,Both profitable
34034,2053524,14.0,SE Snta Clara Cnty,698.0,186270,20436,No Household,1.114297e+06,1.107812e+06,1.660268e+05,1.595416e+05,1.50,1.50,307.226807,305.438751,3626.952983,3626.952983,9.482704e+05,9.482704e+05,Both profitable
34035,2053541,14.0,SE Snta Clara Cnty,702.0,180531,11203,NP < P,7.853858e+07,NaN,3.010156e+07,NaN,1.50,NaN,437.025299,NaN,179711.743206,NaN,4.843702e+07,NaN,only allow in NP
34036,2053562,14.0,SE Snta Clara Cnty,700.0,190469,10533,No Household,2.454353e+07,2.484973e+07,8.637326e+06,8.943534e+06,1.80,1.80,442.351501,447.870331,55484.215611,55484.215611,1.590620e+07,1.590620e+07,Both profitable

############ residential_developer model result
['parcel_id', 'residential_units_NP', 'residential_units_P']

,parcel_id,2050_hh_growth_diff,node_id,tmnode_id,TAZ,SUPERD,SD_NAME,residential_units_NP,residential_units_P,residential_units_comp
0,1711264,NP > P,168905,5427,710.0,14.0,SE Snta Clara Cnty,0.0,0.0,no development
1,1711387,No Household,174035,5427,710.0,14.0,SE Snta Clara Cnty,0.0,0.0,no development
2,1711391,No Household,155140,4151,710.0,14.0,SE Snta Clara Cnty,0.0,0.0,no development
3,1717862,No Household,303519,4151,705.0,14.0,SE Snta Clara Cnty,0.0,0.0,no development
4,1720010,No Household,310217,10534,700.0,14.0,SE Snta Clara Cnty,0.0,0.0,no development
...,...,...,...,...,...,...,...,...,...,...
34032,2053438,No Household,189466,709,709.0,14.0,SE Snta Clara Cnty,0.0,0.0,no development
34033,2053472,NP > P,142028,4220,702.0,14.0,SE Snta Clara Cnty,20.0,0.0,NP > P
34034,2053524,No Household,186270,20436,698.0,14.0,SE Snta Clara Cnty,0.0,0.0,no development
34035,2053541,NP < P,180531,11203,702.0,14.0,SE Snta Clara Cnty,0.0,180.0,NP < P
34036,2053562,No Household,190469,10533,700.0,14.0,SE Snta Clara Cnty,0.0,0.0,no development

############ hedonic model results ("rsh_simulate", "rrh_simulate")
compare unit_res_price_min: not identical between NP and P
compare unit_res_price_max: not identical between NP and P
compare unit_res_price_mean: not identical between NP and P
compare unit_res_rent_min: not identical between NP and P
compare unit_res_rent_max: not identical between NP and P
compare unit_res_rent_mean: not identical between NP and P
compare unit_cnt: not identical between NP and P

C:\ProgramData\Anaconda3\envs\geo_env\lib\site-packages\pandas\core\indexing.py:1667: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = value
C:\ProgramData\Anaconda3\envs\geo_env\lib\site-packages\pandas\core\indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

,parcel_id,SUPERD,SD_NAME,TAZ,node_id,tmnode_id,2050_hh_growth_diff,unit_cnt_NP,unit_cnt_P,unit_res_price_max_NP,...,unit_res_price_min_NP,unit_res_price_min_P,unit_res_rent_max_NP,unit_res_rent_max_P,unit_res_rent_mean_NP,unit_res_rent_mean_P,unit_res_rent_min_NP,unit_res_rent_min_P,unit_res_price_mean_comp,unit_res_rent_mean_comp
0,1711264,14.0,SE Snta Clara Cnty,710.0,168905,5427,NP > P,1.0,1.0,308.748587,...,308.748587,320.512425,1.916437,1.925248,1.916437,1.925248,1.916437,1.925248,NP < P,NP < P
1,1711387,14.0,SE Snta Clara Cnty,710.0,174035,5427,No Household,1.0,1.0,200.000000,...,200.000000,200.000000,1.946526,1.958279,1.946526,1.958279,1.946526,1.958279,NP = P,NP < P
2,1711391,14.0,SE Snta Clara Cnty,710.0,155140,4151,No Household,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
3,1717862,14.0,SE Snta Clara Cnty,705.0,303519,4151,No Household,1.0,1.0,200.000000,...,200.000000,200.000000,1.076453,1.072829,1.076453,1.072829,1.076453,1.072829,NP = P,NP > P
4,1720010,14.0,SE Snta Clara Cnty,700.0,310217,10534,No Household,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34032,2053438,14.0,SE Snta Clara Cnty,709.0,189466,709,No Household,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
34033,2053472,14.0,SE Snta Clara Cnty,702.0,142028,4220,NP > P,20.0,NaN,375.384687,...,375.384687,NaN,2.295873,NaN,2.295873,NaN,2.295873,NaN,None,None
34034,2053524,14.0,SE Snta Clara Cnty,698.0,186270,20436,No Household,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
34035,2053541,14.0,SE Snta Clara Cnty,702.0,180531,11203,NP < P,NaN,180.0,NaN,...,NaN,200.000000,NaN,2.506229,NaN,2.506229,NaN,2.506229,None,None
34036,2053562,14.0,SE Snta Clara Cnty,700.0,190469,10533,No Household,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None

############ parcel_data and building_data output
compare zoned_du: identical between NP and P
compare zoned_du_underbuild: not identical between NP and P
compare residential_units: not identical between NP and P
compare resUnits_nondev: not identical between NP and P
compare unit_price_mean_nondev: not identical between NP and P
compare resUnits_dev: not identical between NP and P
compare unit_price_mean_dev: not identical between NP and P
compare tothh: not identical between NP and P

,parcel_id,SUPERD,SD_NAME,TAZ,node_id,tmnode_id,2050_hh_growth_diff,resUnits_dev_NP,resUnits_dev_P,resUnits_nondev_NP,...,tothh_NP,tothh_P,unit_price_mean_dev_NP,unit_price_mean_dev_P,unit_price_mean_nondev_NP,unit_price_mean_nondev_P,zoned_du_underbuild_NP,zoned_du_underbuild_P,tothh_comp,totUnits_comp
0,1711264,14.0,SE Snta Clara Cnty,710.0,168905,5427,NP > P,0.0,0.0,1.0,...,1.0,1.0,NaN,NaN,554226.310583,560511.044212,5,5,NP = P,NP = P
1,1711387,14.0,SE Snta Clara Cnty,710.0,174035,5427,No Household,0.0,0.0,1.0,...,1.0,1.0,NaN,NaN,532937.750001,539829.816652,4,4,NP = P,NP = P
2,1711391,14.0,SE Snta Clara Cnty,710.0,155140,4151,No Household,0.0,0.0,0.0,...,0.0,0.0,NaN,NaN,NaN,NaN,52,52,No Household,No Housing
3,1717862,14.0,SE Snta Clara Cnty,705.0,303519,4151,No Household,0.0,0.0,1.0,...,1.0,1.0,NaN,NaN,521975.089645,523685.993003,1,1,NP = P,NP = P
4,1720010,14.0,SE Snta Clara Cnty,700.0,310217,10534,No Household,0.0,0.0,0.0,...,0.0,0.0,NaN,NaN,NaN,NaN,1,1,No Household,No Housing
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34032,2053438,14.0,SE Snta Clara Cnty,709.0,189466,709,No Household,0.0,0.0,0.0,...,0.0,0.0,NaN,NaN,NaN,NaN,155,155,No Household,No Housing
34033,2053472,14.0,SE Snta Clara Cnty,702.0,142028,4220,NP > P,20.0,0.0,0.0,...,12.0,0.0,NaN,NaN,NaN,NaN,0,22,NP > P,NP > P
34034,2053524,14.0,SE Snta Clara Cnty,698.0,186270,20436,No Household,0.0,0.0,0.0,...,0.0,0.0,NaN,NaN,NaN,NaN,2,2,No Household,No Housing
34035,2053541,14.0,SE Snta Clara Cnty,702.0,180531,11203,NP < P,0.0,180.0,0.0,...,0.0,155.0,NaN,525113.086844,NaN,NaN,207,0,NP < P,NP < P
34036,2053562,14.0,SE Snta Clara Cnty,700.0,190469,10533,No Household,0.0,0.0,0.0,...,0.0,0.0,NaN,NaN,NaN,NaN,26,26,No Household,No Housing

################################  2050
############ nodes and tmnode attributes ("neighborhood_vars", "regional_vars", "price_vars")
34037
compare retail_sqft_3000: not identical between NP and P
compare sum_income_3000: not identical between NP and P
compare residential_units_500: not identical between NP and P
compare residential_units_1500: not identical between NP and P
compare office_1500: not identical between NP and P
compare retail_1500: not identical between NP and P
compare industrial_1500: not identical between NP and P
compare ave_sqft_per_unit: not identical between NP and P
compare ave_lot_size_per_unit: not identical between NP and P
compare population: not identical between NP and P
compare poor: not identical between NP and P
compare renters: identical between NP and P
compare sfdu: not identical between NP and P
compare ave_hhsize: not identical between NP and P
compare jobs_500: not identical between NP and P
compare jobs_1500: not identical between NP and P
compare ave_income_1500: not identical between NP and P
compare ave_income_500: not identical between NP and P
compare retail_ratio: not identical between NP and P
compare residential: not identical between NP and P
compare retail: not identical between NP and P
compare office: not identical between NP and P
compare industrial: not identical between NP and P
compare residential_units_45: not identical between NP and P
compare jobs_15: not identical between NP and P
compare jobs_45: not identical between NP and P
compare sum_income_40: not identical between NP and P
compare embarcadero: identical between NP and P
compare pacheights: identical between NP and P
compare stanford: identical between NP and P

C:\ProgramData\Anaconda3\envs\geo_env\lib\site-packages\pandas\core\indexing.py:1667: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = value
C:\ProgramData\Anaconda3\envs\geo_env\lib\site-packages\pandas\core\indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

,parcel_id,SUPERD,SD_NAME,TAZ,node_id,tmnode_id,2050_hh_growth_diff,ave_hhsize_NP,ave_hhsize_P,ave_income_1500_NP,...,retail_ratio_P,retail_sqft_3000_NP,retail_sqft_3000_P,sfdu_NP,sfdu_P,sum_income_3000_NP,sum_income_3000_P,sum_income_40_NP,sum_income_40_P,residential_price_comp
0,1711264,14.0,SE Snta Clara Cnty,710.0,168905,5427,NP > P,1.304151,1.296616,11.494772,...,8.264292e+02,623566.136804,661899.766751,6.376077,6.375981,525178694.0,547013314.0,4.997067e+10,5.106410e+10,NP < P
1,1711387,14.0,SE Snta Clara Cnty,710.0,174035,5427,No Household,1.305548,1.301027,11.492733,...,8.167374e+02,634804.564344,677676.125446,6.548649,6.548371,532866518.0,553483430.0,4.997067e+10,5.106410e+10,NP < P
2,1711391,14.0,SE Snta Clara Cnty,710.0,155140,4151,No Household,1.306889,1.295932,11.492733,...,9.718117e+02,549161.271429,584242.927337,6.270605,6.270605,542796352.0,567774118.0,4.787269e+10,4.872515e+10,NP < P
3,1717862,14.0,SE Snta Clara Cnty,705.0,303519,4151,No Household,1.311151,1.314702,11.589896,...,9.643792e+07,0.000000,0.000000,5.890595,5.890595,97116236.0,96437918.0,4.787269e+10,4.872515e+10,NP < P
4,1720010,14.0,SE Snta Clara Cnty,700.0,310217,10534,No Household,1.270241,1.167389,11.404126,...,5.078946e+02,509242.564209,517986.286278,3.004926,3.004926,287918186.0,263082430.0,7.011346e+10,7.200892e+10,NP > P
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34032,2053438,14.0,SE Snta Clara Cnty,709.0,189466,709,No Household,1.261014,1.276401,11.299373,...,5.863942e+02,908832.538342,908019.857314,6.334990,6.334990,505406744.0,532457554.0,5.449413e+10,5.570970e+10,NP < P
34033,2053472,14.0,SE Snta Clara Cnty,702.0,142028,4220,NP > P,1.300391,1.276368,11.373790,...,7.010038e+02,555028.568749,559553.144987,5.075032,5.075301,345665860.0,392248856.0,6.809687e+10,6.989720e+10,NP < P
34034,2053524,14.0,SE Snta Clara Cnty,698.0,186270,20436,No Household,1.290609,1.343806,11.591284,...,2.128788e+02,549492.587455,554968.275868,5.782192,5.782192,92263192.0,118141002.0,7.575102e+10,7.748808e+10,NP < P
34035,2053541,14.0,SE Snta Clara Cnty,702.0,180531,11203,NP < P,1.314330,1.272839,11.608245,...,2.787262e+03,157486.977380,160497.485599,5.427788,5.429043,420079058.0,447348502.0,6.961700e+10,7.144455e+10,NP < P
34036,2053562,14.0,SE Snta Clara Cnty,700.0,190469,10533,No Household,1.262715,1.275446,11.429555,...,1.407829e+03,349730.518380,357679.920798,6.248973,6.248973,406044248.0,503552108.0,7.329381e+10,7.494446e+10,NP < P

############ alt_feasibility results
['parcel_id', 'superdistrict_NP', 'total_cost_NP', 'building_revenue_NP', 'max_profit_far_NP', 'max_profit_NP', 'residential_sales_price_sqft_NP', 'residential_sqft_NP', 'superdistrict_P', 'total_cost_P', 'building_revenue_P', 'max_profit_far_P', 'max_profit_P', 'residential_sales_price_sqft_P', 'residential_sqft_P', 'max_profit_chk']
Both profitable        3825
Both not profitable    3610
only allow in P         307
only allow in NP        295
P profitable only       101
not allow                36
NP profitable only       30
Name: max_profit_chk, dtype: int64
compare total_cost: not identical between NP and P
compare building_revenue: not identical between NP and P
compare max_profit_far: not identical between NP and P
compare max_profit: not identical between NP and P
compare residential_sales_price_sqft: not identical between NP and P
compare residential_sqft: not identical between NP and P

,parcel_id,SUPERD,SD_NAME,TAZ,node_id,tmnode_id,2050_hh_growth_diff,building_revenue_NP,building_revenue_P,max_profit_NP,max_profit_P,max_profit_far_NP,max_profit_far_P,residential_sales_price_sqft_NP,residential_sales_price_sqft_P,residential_sqft_NP,residential_sqft_P,total_cost_NP,total_cost_P,max_profit_chk
0,1711264,14.0,SE Snta Clara Cnty,710.0,168905,5427,NP > P,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1711387,14.0,SE Snta Clara Cnty,710.0,174035,5427,No Household,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1711391,14.0,SE Snta Clara Cnty,710.0,155140,4151,No Household,1.385539e+07,1.403340e+07,2.085280e+06,2.156400e+06,2.75,2.75,355.151642,359.714417,48765.764319,48765.764319,1.177011e+07,1.187700e+07,Both profitable
3,1717862,14.0,SE Snta Clara Cnty,705.0,303519,4151,No Household,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1720010,14.0,SE Snta Clara Cnty,700.0,310217,10534,No Household,1.188621e+06,1.155809e+06,-2.392287e+05,-2.620819e+05,1.50,1.50,440.715363,428.549408,2697.026187,2697.026187,1.427850e+06,1.417891e+06,Both not profitable
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34032,2053438,14.0,SE Snta Clara Cnty,709.0,189466,709,No Household,4.958782e+07,5.020799e+07,1.352014e+07,1.412330e+07,1.50,1.50,367.952515,372.554352,134766.892813,134766.892813,3.606767e+07,3.608470e+07,Both profitable
34033,2053472,14.0,SE Snta Clara Cnty,702.0,142028,4220,NP > P,NaN,8.732104e+06,NaN,3.608523e+06,NaN,1.50,NaN,445.590118,NaN,19596.717642,NaN,5.123581e+06,only allow in P
34034,2053524,14.0,SE Snta Clara Cnty,698.0,186270,20436,No Household,1.097272e+06,1.110042e+06,1.490013e+05,1.617717e+05,1.50,1.50,302.532654,306.053619,3626.952983,3626.952983,9.482704e+05,9.482704e+05,Both profitable
34035,2053541,14.0,SE Snta Clara Cnty,702.0,180531,11203,NP < P,7.807673e+07,NaN,2.965239e+07,NaN,1.50,NaN,434.455353,NaN,179711.743206,NaN,4.842434e+07,NaN,only allow in NP
34036,2053562,14.0,SE Snta Clara Cnty,700.0,190469,10533,No Household,2.432709e+07,2.513572e+07,8.420887e+06,9.229516e+06,1.80,1.80,438.450592,453.024628,55484.215611,55484.215611,1.590620e+07,1.590620e+07,Both profitable

############ residential_developer model result
['parcel_id', 'residential_units_NP', 'residential_units_P']

,parcel_id,2050_hh_growth_diff,node_id,tmnode_id,TAZ,SUPERD,SD_NAME,residential_units_NP,residential_units_P,residential_units_comp
0,1711264,NP > P,168905,5427,710.0,14.0,SE Snta Clara Cnty,0.0,0.0,no development
1,1711387,No Household,174035,5427,710.0,14.0,SE Snta Clara Cnty,0.0,0.0,no development
2,1711391,No Household,155140,4151,710.0,14.0,SE Snta Clara Cnty,0.0,0.0,no development
3,1717862,No Household,303519,4151,705.0,14.0,SE Snta Clara Cnty,0.0,0.0,no development
4,1720010,No Household,310217,10534,700.0,14.0,SE Snta Clara Cnty,0.0,0.0,no development
...,...,...,...,...,...,...,...,...,...,...
34032,2053438,No Household,189466,709,709.0,14.0,SE Snta Clara Cnty,0.0,0.0,no development
34033,2053472,NP > P,142028,4220,702.0,14.0,SE Snta Clara Cnty,20.0,0.0,NP > P
34034,2053524,No Household,186270,20436,698.0,14.0,SE Snta Clara Cnty,0.0,0.0,no development
34035,2053541,NP < P,180531,11203,702.0,14.0,SE Snta Clara Cnty,0.0,180.0,NP < P
34036,2053562,No Household,190469,10533,700.0,14.0,SE Snta Clara Cnty,0.0,0.0,no development

############ hedonic model results ("rsh_simulate", "rrh_simulate")
compare unit_res_price_min: not identical between NP and P
compare unit_res_price_max: not identical between NP and P
compare unit_res_price_mean: not identical between NP and P
compare unit_res_rent_min: not identical between NP and P
compare unit_res_rent_max: not identical between NP and P
compare unit_res_rent_mean: not identical between NP and P
compare unit_cnt: not identical between NP and P

C:\ProgramData\Anaconda3\envs\geo_env\lib\site-packages\pandas\core\indexing.py:1667: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = value
C:\ProgramData\Anaconda3\envs\geo_env\lib\site-packages\pandas\core\indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

,parcel_id,SUPERD,SD_NAME,TAZ,node_id,tmnode_id,2050_hh_growth_diff,unit_cnt_NP,unit_cnt_P,unit_res_price_max_NP,...,unit_res_price_min_NP,unit_res_price_min_P,unit_res_rent_max_NP,unit_res_rent_max_P,unit_res_rent_mean_NP,unit_res_rent_mean_P,unit_res_rent_min_NP,unit_res_rent_min_P,unit_res_price_mean_comp,unit_res_rent_mean_comp
0,1711264,14.0,SE Snta Clara Cnty,710.0,168905,5427,NP > P,1.0,1.0,301.659384,...,301.659384,312.787906,1.930008,1.938838,1.930008,1.938838,1.930008,1.938838,NP < P,NP < P
1,1711387,14.0,SE Snta Clara Cnty,710.0,174035,5427,No Household,1.0,1.0,200.000000,...,200.000000,200.000000,1.960050,1.972995,1.960050,1.972995,1.960050,1.972995,NP = P,NP < P
2,1711391,14.0,SE Snta Clara Cnty,710.0,155140,4151,No Household,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
3,1717862,14.0,SE Snta Clara Cnty,705.0,303519,4151,No Household,1.0,1.0,200.000000,...,200.000000,200.000000,1.088507,1.087579,1.088507,1.087579,1.088507,1.087579,NP = P,NP > P
4,1720010,14.0,SE Snta Clara Cnty,700.0,310217,10534,No Household,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34032,2053438,14.0,SE Snta Clara Cnty,709.0,189466,709,No Household,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
34033,2053472,14.0,SE Snta Clara Cnty,702.0,142028,4220,NP > P,20.0,NaN,419.899994,...,419.899994,NaN,2.413682,NaN,2.413682,NaN,2.413682,NaN,None,None
34034,2053524,14.0,SE Snta Clara Cnty,698.0,186270,20436,No Household,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
34035,2053541,14.0,SE Snta Clara Cnty,702.0,180531,11203,NP < P,NaN,180.0,NaN,...,NaN,200.000000,NaN,2.519981,NaN,2.519981,NaN,2.519981,None,None
34036,2053562,14.0,SE Snta Clara Cnty,700.0,190469,10533,No Household,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None

############ parcel_data and building_data output
compare zoned_du: identical between NP and P
compare zoned_du_underbuild: not identical between NP and P
compare residential_units: not identical between NP and P
compare resUnits_nondev: not identical between NP and P
compare unit_price_mean_nondev: not identical between NP and P
compare resUnits_dev: not identical between NP and P
compare unit_price_mean_dev: not identical between NP and P
compare tothh: not identical between NP and P

,parcel_id,SUPERD,SD_NAME,TAZ,node_id,tmnode_id,2050_hh_growth_diff,resUnits_dev_NP,resUnits_dev_P,resUnits_nondev_NP,...,tothh_NP,tothh_P,unit_price_mean_dev_NP,unit_price_mean_dev_P,unit_price_mean_nondev_NP,unit_price_mean_nondev_P,zoned_du_underbuild_NP,zoned_du_underbuild_P,tothh_comp,totUnits_comp
0,1711264,14.0,SE Snta Clara Cnty,710.0,168905,5427,NP > P,0.0,0.0,1.0,...,1.0,1.0,NaN,NaN,551763.379037,559877.832074,5,5,NP = P,NP = P
1,1711387,14.0,SE Snta Clara Cnty,710.0,174035,5427,No Household,0.0,0.0,1.0,...,1.0,1.0,NaN,NaN,530468.683673,539041.796642,4,4,NP = P,NP = P
2,1711391,14.0,SE Snta Clara Cnty,710.0,155140,4151,No Household,0.0,0.0,0.0,...,0.0,0.0,NaN,NaN,NaN,NaN,52,52,No Household,No Housing
3,1717862,14.0,SE Snta Clara Cnty,705.0,303519,4151,No Household,0.0,0.0,1.0,...,1.0,1.0,NaN,NaN,524080.611216,527571.964080,1,1,NP = P,NP = P
4,1720010,14.0,SE Snta Clara Cnty,700.0,310217,10534,No Household,0.0,0.0,0.0,...,0.0,0.0,NaN,NaN,NaN,NaN,1,1,No Household,No Housing
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34032,2053438,14.0,SE Snta Clara Cnty,709.0,189466,709,No Household,0.0,0.0,0.0,...,0.0,0.0,NaN,NaN,NaN,NaN,155,155,No Household,No Housing
34033,2053472,14.0,SE Snta Clara Cnty,702.0,142028,4220,NP > P,20.0,0.0,0.0,...,18.0,0.0,496724.165197,NaN,NaN,NaN,0,22,NP > P,NP > P
34034,2053524,14.0,SE Snta Clara Cnty,698.0,186270,20436,No Household,0.0,0.0,0.0,...,0.0,0.0,NaN,NaN,NaN,NaN,2,2,No Household,No Housing
34035,2053541,14.0,SE Snta Clara Cnty,702.0,180531,11203,NP < P,0.0,180.0,0.0,...,0.0,149.0,NaN,558068.023906,NaN,NaN,207,0,NP < P,NP < P
34036,2053562,14.0,SE Snta Clara Cnty,700.0,190469,10533,No Household,0.0,0.0,0.0,...,0.0,0.0,NaN,NaN,NaN,NaN,26,26,No Household,No Housing